.topic-icon
{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 72px;
	width: 72px;
}
.community-support .topic-icon
{
	background-image: url('../img/icon.get-community-support.png');
}
#help-topics>ul:not(.card-grid)
{
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}
#help-topics>ul:not(.card-grid)>li
{
	color: #0095dd;
	font-family: 'Open Sans Light',Arial,Helvetica,sans-serif;
	font-size: 18px;
	margin: 0 0 8px 0;
}
#help-topics>ul:not(.card-grid)>li:after
{
	content: '\00BB';
	margin: 0 0 0 6px;
}
#help-topics .card-grid
{
	position: relative;
}
#help-topics .card-grid>li>a,#help-topics .card-grid>li>a:visited
{
	color: #484848;
	display: block;
	position: relative;
}
#help-topics .card-grid>li>a .title,#help-topics .card-grid>li>a:visited .title
{
	display: block;
	font-family: 'Open Sans Light',Arial,Helvetica,sans-serif;
	font-size: 16px;
	margin-left: 86px;
}
#help-topics .card-grid>li>a .title:after,#help-topics .card-grid>li>a:visited .title:after
{
	background: url('../img/icons-sprite.png?v=5') -50px -514px no-repeat;
	bottom: 8px;
	content: '';
	height: 16px;
	position: absolute;
	right: 8px;
	width: 16px;
}
#help-topics .card-grid>li>a .topic-icon,#help-topics .card-grid>li>a:visited .topic-icon
{
	float: left;
}
.grid_9 #help-topics .card-grid>li>a .title,.grid_9 #help-topics .card-grid>li>a:visited .title
{
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.25;
	margin-left: 81px;
}
h1.product-title
{
	font-family: 'MetaBold',Arial,Helvetica,sans-serif;
	font-size: 46px;
	height: 80px;
	line-height: 78px;
	margin: 0 0 20px 0;
}
h1.product-title a
{
	color: inherit;
	text-decoration: inherit;
}
h1.product-title .logo-sprite
{
	float: left;
	margin: 0 8px 0 0;
}
.logo-sprite
{
	float: left;
	margin: -15px 8px 0 0;
}
.download-firefox
{
	font-family: 'Open Sans',sans-serif;
	position: absolute;
	right: 0;
	top: 0;
}
.download-firefox .download-button
{
	background-clip: padding-box;
	background-color: #81bc2e;
	background-image: linear-gradient(top,#81bc2e 0,#659324 100%);
	background-image: -moz-linear-gradient(top,#81bc2e 0,#659324 100%);
	background-image: -ms-linear-gradient(top,#81bc2e 0,#659324 100%);
	background-image: -o-linear-gradient(top,#81bc2e 0,#659324 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#81bc2e),color-stop(100% #659324));
	background-image: -webkit-linear-gradient(top,#81bc2e 0,#659324 100%);
	border-radius: 5px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 -2px 0 0 rgba(0,0,0,0.3) inset;
	display: block;
	height: 44px;
	line-height: 40px;
	moz-background-clip: padding;
	moz-border-radius: 5px;
	moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 -2px 0 0 rgba(0,0,0,0.3) inset;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	transition: all .5s;
	transition: top 0s;
	webkit-background-clip: padding-box;
	webkit-border-radius: 5px;
	webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 -2px 0 0 rgba(0,0,0,0.3) inset;
}
.download-firefox .download-button .download-content
{
	background: url('../img/logos-sprite.png') -46px -51px no-repeat;
	color: #b5e786;
	display: block;
	height: 48px;
	margin-left: -25px;
	padding: 0 20px 0 65px;
}
.download-firefox .download-button .download-content .download-title
{
	color: #fff;
	display: inline-block;
	font-family: georgia,"Bitstream Charter",serif;
	font-size: 24px;
	padding-right: 25px;
	position: relative;
}
.download-firefox .download-button .download-content .download-title:after
{
	background: url('../img/icons-sprite.png?v=5') -42px -1897px no-repeat;
	content: "";
	height: 32px;
	position: absolute;
	right: -6px;
	top: 5px;
	width: 32px;
}
.download-firefox .download-button:hover
{
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 -2px 0 0 rgba(0,0,0,0.2) inset,0 12px 24px 2px #83c822 inset;
	moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 -2px 0 0 rgba(0,0,0,0.2) inset,0 12px 24px 2px #83c822 inset;
	text-decoration: none;
	webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 -2px 0 0 rgba(0,0,0,0.2) inset,0 12px 24px 2px #83c822 inset;
}
.download-firefox .download-button:active
{
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 -1px 0 0 rgba(0,0,0,0.3) inset,0 12px 24px 2px #83c822 inset;
	moz-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 -1px 0 0 rgba(0,0,0,0.3) inset,0 12px 24px 2px #83c822 inset;
	webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 -1px 0 0 rgba(0,0,0,0.3) inset,0 12px 24px 2px #83c822 inset;
}
.download-firefox ul.info
{
	font-size: .7em;
	margin: 4px 0 0 0;
	padding: 0;
	text-align: right;
}
.download-firefox ul.info li
{
	display: inline;
	list-style: none;
}
.download-firefox ul.info li a
{
	color: #999;
}
.download-firefox ul.info li:not(:first-child):before
{
	color: #999;
	content: "|";
	padding-right: 3px;
}
.topic-list
{
	border-bottom: 1px dotted #c1c5c8;
	clear: both;
	list-style: none;
	margin: 0 0 24px 0;
	padding: 0 0 20px 0;
}
.topic-list:last-of-type
{
	border: 0;
	margin: 0;
	padding: 0;
}
.topic-list>li
{
	margin: 0 0 20px 0;
}
.topic-list>li:last-of-type
{
	margin-bottom: 0;
}
.topic-list>li>label
{
	color: #00539F;
	display: block;
	font-size: 18px;
	margin-bottom: 2px;
}
.topic-title
{
	margin-bottom: 0;
}
.topic-title.has-image
{
	margin-left: 88px;
}
.topic-title.cf
{
	margin-bottom: 20px;
}
.topic-title+.topic-title
{
	margin-top: 0;
	padding-left: 28px;
	position: relative;
}
.topic-title+.topic-title:before
{
	background: url('../img/icons-sprite.png?v=5') no-repeat -54px -2138px;
	content: '';
	height: 16px;
	left: 10px;
	position: absolute;
	top: 14px;
	width: 8px;
}
.sidebar-nav.topics
{
	background-color: #e0e5e8;
	background-image: url('../img/grain.png');
}
.sidebar-nav.topics>li.subtopic-selected>a,.sidebar-nav.topics>li.subtopic-selected>a:visited
{
	background-color: #e0e5e8;
	background-image: url('../img/grain.png'),linear-gradient(top,#c5c8cb 0,#e0e5e8 80%);
	background-image: url('../img/grain.png'),-moz-linear-gradient(top,#c5c8cb 0,#e0e5e8 80%);
	background-image: url('../img/grain.png'),-ms-linear-gradient(top,#c5c8cb 0,#e0e5e8 80%);
	background-image: url('../img/grain.png'),-o-linear-gradient(top,#c5c8cb 0,#e0e5e8 80%);
	background-image: url('../img/grain.png'),-webkit-gradient(linear,left top,left bottom,color-stop(0%,#c5c8cb),color-stop(80% #e0e5e8));
	background-image: url('../img/grain.png'),-webkit-linear-gradient(top,#c5c8cb 0,#e0e5e8 80%);
	border: 0;
}
.sidebar-nav.topics>li>ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: none;
}
.sidebar-nav.topics>li>ul>li>a,.sidebar-nav.topics>li>ul>li>a:visited
{
	color: #333;
	display: block;
	padding: 12px 20px;
	text-decoration: none;
}
.sidebar-nav.topics>li>ul>li>a:hover
{
	color: #00539f;
	text-decoration: none;
}
.sidebar-nav.topics>li>ul>li.selected>a
{
	background: #fff;
	font-weight: bold;
	position: relative;
}
.sidebar-nav.topics>li>ul>li.selected>a:after
{
	background: url('../img/sidebar-arrow.gif') 0 3px no-repeat;
	content: '';
	height: 30px;
	left: 0;
	margin-top: -15px;
	position: absolute;
	top: 50%;
	width: 15px;
}
.sidebar-nav.topics>li>ul>li.selected>a:hover
{
	color: #333;
}
#focus-and-refine ul
{
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}
#focus-and-refine ul li
{
	float: left;
	margin: 5px 0 0;
	width: 50%;
}
#focus-and-refine ul li.selected
{
	font-weight: bold;
}
#focus-and-refine ul li.selected a
{
	color: #484848;
}
#focus-and-refine ul li:nth-child(2n+1)
{
	clear: left;
}
#get-involved-button
{
	text-align: center;
}
#get-involved-button .btn
{
	font-size: 18px;
	padding: 9px 48px 12px;
}
#document-list>ul
{
	background: #fff;
	padding: 30px;
}
.html-rtl .download-firefox
{
	left: 20px;
	right: auto;
}
.html-rtl h1.product-title .logo-sprite
{
	float: right;
	margin: 0 0 0 8px;
}
