/*** contact ***/
#contact-view {
  width: 100%;
}

.contact-list-box {
  float: left;
  width: 60%;
}

.contact-ops-box {
  overflow: hidden;
  height: 6rem;
  line-height: 3rem;
  font-size: 14px;
}

.contact-ops-box .contact-op {
  background-position: 0 center;
  background-repeat: no-repeat;
  float: left;
  padding-left: 2rem;
  margin-right: 1.3rem;
  cursor: pointer;
}

.contact-ops-box .contact-op label {
  cursor: pointer;
  -moz-user-select: none;
}

#selectAll-contacts {
  background-image: url("images/checkbox.png");
  margin-left: 2rem;
  padding-left: 2.2rem;
}
#selectAll-contacts[data-checked=true] {
  background-image: url("images/checkbox-checked.png");
}
#selectAll-contacts[data-disabled=true] {
  color: #CCCCCC;
}
#selectAll-contacts[data-disabled=false]:hover {
  color: #00CAF2;
}
#selectAll-contacts[data-disabled=false]:active {
  color: #018CAB;
}

#remove-contacts {
  background-image: url("images/remove-default.png");
}
#remove-contacts[data-disabled=true] {
  background-image: url("images/remove-disabled.png");
  cursor: default;
  color: #CCCCCC;
}
#remove-contacts[data-disabled=false]:hover {
  background-image: url("images/remove-highlighted.png");
  color: #00CAF2;
}
#remove-contacts[data-disabled=false]:active {
  background-image: url("images/remove-selected.png");
  color: #018CAB;
}

#export-contacts[data-disabled=true] {
  background-image: url("images/export-disabled.png");
  color: #CCCCCC;
}
#export-contacts[data-disabled=false] {
  background-image: url("images/export-default.png");
}
#export-contacts[data-disabled=false]:hover {
  background-image: url("images/export-highlighted.png");
  color: #00CAF2;
}
#export-contacts[data-disabled=false]:active {
  background-image: url("images/export-selected.png");
  color: #018CAB;
}

#import-contacts {
  background-image: url("images/import-default.png");
}
#import-contacts:hover {
  background-image: url("images/import-highlighted.png");
  color: #00CAF2;
}
#import-contacts:active {
  background-image: url("images/import-selected.png");
  color: #018CAB;
}

#refresh-contacts {
  background-image: url("images/refresh-default.png");
}
#refresh-contacts:hover {
  background-image: url("images/refresh-highlighted.png");
  color: #00CAF2;
}
#refresh-contacts:active {
  background-image: url("images/refresh-selected.png");
  color: #018CAB;
}

#add-new-contact {
  background-image: url("images/add-default.png");
}
#add-new-contact:hover {
  background-image: url("images/add-highlighted.png");
  color: #00CAF2;
}
#add-new-contact:active {
  background-image: url("images/add-selected.png");
  color: #018CAB;
}

#contact-list-container {
  padding-left: 1rem;
  max-height: 46rem;
  overflow: auto;
}

.empty-contacts {
  background: url('images/empty-contacts.png') no-repeat scroll center center transparent;
  height: 16rem;
  margin: 10rem 0 2rem;
}

.empty-contacts-prompt {
  text-align: center;
}

.quick-add_view {
  background: url('images/logo.png') no-repeat scroll center center transparent;
  height: 20rem;
  width: 100%;
}

#mobile, #fullName {
  float: right;
  width: 20.2rem;
  height: 2.5rem;
  margin-right: 2rem;
}

#quick-add-contact-header {
  padding-left: 1rem;
  padding-bottom: 2rem;
  font-size: 1.8rem;
}

#contact-quick-add-form > div {
  height: 3rem;
  margin-bottom: 1rem;
}

#contact-quick-add-form >div >div {
  float: left;
  margin: 0.6rem 0 0 1rem;
}

#contact-quick-add-form input[type="edit"] {
  width: 12rem;
  float: right;
  margin-right: 4rem;
}

#quick-save-contact {
  margin: 0.6rem 0 0 7.5rem;
  float: left;
  height: 2.2rem;
  width: 5rem;
  padding-top: 0.3rem;
}


.data-index {
  border-bottom: .1rem solid #E86000;
  padding-left: 1rem;
  color: #E86000;
  padding: 1rem;
  width: 90%;
}

.contact-list-item {
  margin-top: .5rem;
}

.contact-list-item:hover {
  background-color: #F4F4F4;
}

.contact-list-item:active {
  background-color: #EEE;
}

.contact-list-item[data-focused=true] {
  background-color: #DEF3F8;
}

.contact-list-item > div {
  overflow: hidden;
  cursor: pointer;
  padding: .5rem 0 .5rem 1rem;
}

.contact-list-item > div > * {
  float: left;
}

.contact-list-item >div input.checkbox[type="checkbox"] + label.selectAll {
  background-image: url("images/checkbox.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.contact-list-item >div input.checkbox[type="checkbox"]:checked + label.selectAll {
  background-image: url("images/checkbox-checked.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.contact-list-item >div > label.unchecked {
  background-image: url("images/checkbox.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.contact-list-item >div  > label.checked {
  background-image: url("images/checkbox-checked.png");
}

.contact-list-item .bookmark {
  width: 3rem;
  height: 3.3rem;
  text-align: center;
  background-image: url("images/bookmark.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#contact-list-container div.favorite .bookmark {
  background-image: url("images/bookmarked.png");
}

.contact-list-item .avatar {
  width: 3.5rem;
  height: 3.5rem;
}

.contact-list-item .avatar-default {
  background-image: url("images/avatar.png");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-list-item .contact-info {
  font-size: 14px;
  padding-left: 1rem;
}

.contact-list-item .contact-info >div {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 320px;
  white-space: nowrap;
}

.contact-list-item .contact-info .name {
  color: #333333;
  font-size: 14px;
  height: 2rem;
}

.contact-list-item .contact-info .tel {
  color: #999;
}

.contact-list-item .odd {
  background-color: #EEEEEE;
}

/**** vcard box styles ****/
#contact-vcard-box {
  -moz-box-sizing: border-box;
  padding: 1rem;
  overflow: hidden;
}

#contact-vcard-box .edit {
  width: 4rem;
}

#contact-vcard-box .vcard-header {
  color: #CCC;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
}

#vcard-basic-info-box {
  height: 7rem;
  padding-bottom: 2rem;
}

#contact-edit-view[data-add-contact=false] #add-contact-header{
  display: none;
}

#contact-edit-view[data-add-contact=true] #edit-contact-header{
  display: none;
}

#vcard-basic-info-box > div:last-child {
  margin-left: 1rem;
}

#vcard-basic-info-box > .avatar {
  float: left;
  height: 8rem;
  width: 8rem;
  background-color: #F2F2F2;
}

.headpic {
  width: 8rem;
}

#vcard-basic-info-box .name {
  font-weight: bold;
}

#vcard-basic-info-box .company {
  color: #CCC;
}

#vcard-basic-info-box > div:last-child {
  padding-left: 8rem;
}

.vcard-info-bar {
  color: #CCC;
}

.vcard-info-bar .header {
  color: #FF9A00;
}

.vcard-info-bar .contact-way-name {
  width: 7rem;
}

/********* contact form ********/
#contact-form {
  position: relative;
}

#contact-form .avatar-add-edit {
  height: 7rem;
  width: 7rem;
  float: left;
  margin-right: 0.5rem;
}

#contact-form .avatar-add-edit-default {
  background-image: url("images/avatar-add.png");
  background-repeat: no-repeat;
  background-position: 0 .5rem;
}

.item-body-exp {
  overflow: hidden;
}

#contact-form li {
  padding-right: 3rem;
}

#contact-form div {
}

#add-avatar {
  height: 2rem;
  background-color: #A6A6A6;
  width: 67px;
  position: absolute;
  top: 53px;
}

#avatar-label {
  text-align: center;
  font-size: 12px;
  padding-top: 3px;
  color: white;
}

#contact-form ul {
  padding-bottom: 1rem;
  max-height: 27rem;
  overflow-y: auto;
  overflow-x: hidden;
}

#contact-form .action-delete {
  position: absolute;
  height: 2.2rem;
  width: 2.2rem;
  background: url(images/delete.png) no-repeat;
  left: 100%;
  top: 50%;
  margin: -1rem 0 0 .5rem;
}

/* Fieldset */
fieldset {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0,0,0,.2);
  font: 1.4rem/1em "MozTT", Sans-serif;
  margin: 0 0 .5rem;
  background-color: white;
}

fieldset + fieldset {
  margin-top: 1.5rem;
}

fieldset select {
  width: 9rem;
}

fieldset legend {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: 12.5rem;
  height: 4rem;
  padding: 0 0.5rem 0 1.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  line-height: 4rem;
  text-transform: uppercase;
}

fieldset legend.action {
  position: relative;
}

fieldset section {
  border-left: 0.1rem solid #DDDDDD;
  border-radius: 0 0.3rem 0.3rem 0;
  display: block;
  overflow: hidden;
}

fieldset section p {
  border-bottom: 0.1rem solid #DDDDDD;
  margin: 0;
}

fieldset section input[type="text"],
fieldset section input[type="password"],
fieldset section input[type="email"],
fieldset section input[type="tel"],
fieldset section input[type="search"],
fieldset section input[type="number"],
fieldset section textarea {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 0 0 0 0;
  height: 2rem;
}

form p input:valid, form p input:valid:focus {
}

button.add-new-button {
  position: relative;
  border: 0.1rem solid #9F9F9F;
  background: none repeat scroll 0 0 #E8F2FF;
  width: 100%;
  padding: .5rem 2rem;
  text-align: left;
  margin: -1rem 0 .5rem;
  border-radius: 0 0 .3rem .3rem;
  vertical-align: middle;
}

.saveAndCancel {
  height: 3rem;
  padding-left: 25px;
  margin-top: 12px;
}

#save-contact {
  padding: 4px 34px;
  width: 56px;
}

#cancel-edit-contact {
  padding: 3.5px 28px;
  width: 56px;
}

#views span.title {
  text-align: center;
  padding: 4rem 0;
  font-size: 25px;
  display: block;
}

.show-contact-header {
  height: 9rem;
}

.avatar-show-default {
  background-image: url("images/avatar-show.png");
  background-position: center 0;
  background-repeat: no-repeat;
}

.avatar-show {
  float: left;
  width: 7rem;
  height: 7rem;
  margin: 0 0.5rem 0 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.contact-head {
  float: left;
  height: 9rem;
}

#show-contact-full-name {
  font-size: 16px;
  height: 2rem;
  margin-left: 1rem;
  color: #333333;
}

#show-contact-company {
  height: 2rem;
  margin: 0 0 -0.5rem 1rem;
  color: #999999;
  margin-top: 2px;
}

#edit-contact {
  display: -moz-inline-box;
  height: 20px;
  margin-left: 1rem;
  margin-top: 7px;
  padding:3px 0 0 23px;
  width: 54px;
  text-align: center;
}

#edit-contact:hover {
  background: -moz-linear-gradient(center top , #00C3ED, #00C3ED) repeat scroll 0 0 transparent;
}

.contact-content .header {
  margin: 2rem 0 1rem 1rem;
  font-size: 1.8rem;
  color: #515151;
}

.contact-edit{
  color: #CCC;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
}

#show-contacts-container {
  max-height: 60rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.show-multi-contact-content {
  float: left;
}

.show-multi-contact-content .name {
  margin-left: 1rem;
  width: 18rem;
  height: 2rem;
  overflow: hidden;
  color: #333333;
  font-size: 1.5rem;
}

.show-multi-contact-content .tel {
  margin-left: 1rem;
  width: 18rem;
  height: 2rem;
  overflow: hidden;
}

.show-contacts-item {
  height: 4rem;
  width: 23rem;
  overflow: hidden;
  margin: .5rem 0 .5rem 1rem;
}

.multi-avatar-show-default {
  background-image: url("images/avatar.png");
  background-position: center 0;
  background-repeat: no-repeat;
}

.multi-avatar-show {
  float: left;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.contact-item {
  height: 2rem;
  width: 100%;
}

.contact-item .title {
  float: left;
  width: 9rem;
  margin-left: 1rem;
  overflow: hidden;
}

.contact-item .value {
  float: left;
  color: #424242;
  width: 12rem;
  overflow: hidden;
}

.contact-ops-box .search-input {
    display: block;
    line-height: 25px;
    width: 400px;
    padding-left: 20px;
    padding-top: 25px;
}

.contact-ops-box .search-input .input-content {
    display: block;
    line-height: 25px;
    margin-right: 10px;
    width: 350px;
}