/*** contact ***/
#contact-view {
  width: 100%;
}

.contact-list-box {
  float: left;
  width: 60%;
}

.contact-ops-box {
  overflow: hidden;
  height: 3rem;
  line-height: 3rem;
}

.contact-ops-box .contact-op {
  background-position: 0 center;
  background-repeat: no-repeat;
  float: left;
  padding: 0 1.3rem 0 2rem;
  cursor: pointer;
}

input.selectAllCheckbox[type="checkbox"]:checked + label.selectAll {
  background-image: url("images/checkbox-checked.png");
  background-repeat: no-repeat;
  padding-left: 2.3rem;
}

input.selectAllCheckbox[type="checkbox"] + label.selectAll {
  background-image: url("images/checkbox.png");
  background-repeat: no-repeat;
  padding-left: 2.3rem;
}

.contact-ops-box .contact-op label {
  cursor: pointer;
  -moz-user-select: none;
}

#remove-contacts {
  background-image: url("images/remove-default.png");
}
#remove-contacts[data-disabled=true] {
  background-image: url("images/remove-disabled.png");
  cursor: default;
}
#remove-contacts[data-disabled=true] > label {
  cursor: default;
}
#remove-contacts[data-disabled=false]:hover {
  background-image: url("images/remove-highlighted.png");
}
#remove-contacts[data-disabled=false]:active {
  background-image: url("images/remove-selected.png");
}
#remove-contacts[data-disabled=false]:visited {
  background-image: url("images/remove-default.png");
}

#export-contacts[data-disabled=true] {
  background-image: url("images/export-disabled.png");
}
#export-contacts[data-disabled=false] {
  background-image: url("images/export-default.png");
}
#export-contacts[data-disabled=false]:hover {
  background-image: url("images/export-highlighted.png");
}
#export-contacts[data-disabled=false]:active {
  background-image: url("images/export-selected.png");
}
#export-contacts[data-disabled=false]:visited {
  background-image: url("images/export-default.png");
}

#import-contacts {
  background-image: url("images/import-default.png");
}
#import-contacts:hover {
  background-image: url("images/import-highlighted.png");
}
#import-contacts:active {
  background-image: url("images/import-selected.png");
}
#import-contacts:visited {
  background-image: url("images/import-default.png");
}

#refresh-contacts {
  background-image: url("images/refresh-default.png");
}
#refresh-contacts:hover {
  background-image: url("images/refresh-highlighted.png");
}
#refresh-contacts:active {
  background-image: url("images/refresh-selected.png");
}
#refresh-contacts:visited {
  background-image: url("images/refresh-default.png");
}

#add-new-contact {
  background-image: url("images/add-default.png");
}
#add-new-contact:hover {
  background-image: url("images/add-highlighted.png");
}
#add-new-contact:active {
  background-image: url("images/add-selected.png");
}
#add-new-contact:visited {
  background-image: url("images/add-default.png");
}

#contact-list-container {
  padding-left: 1rem;
  max-height: 60rem;
  overflow: auto;
}

.empty-contacts {
  background: url('images/empty-contacts.png') no-repeat scroll 0 0 transparent;
  height: 16rem;
  margin: 10rem 15rem 2rem;
}

.empty-contacts-prompt {
  text-align: center;
}

.quick-add_view {
  background: url('images/logo.png') no-repeat scroll 0 0 transparent;
  height: 12rem;
  margin: 2rem 6rem;
  display: -moz-inline-grid;
}

#quick-add-contact-header {
  padding-left: 1rem;
  padding-bottom: 2rem;
}

#contact-quick-add-form > div {
  height: 3rem;
}

#contact-quick-add-form >div > label {
  padding-left: 1rem;
}

#contact-quick-add-form input[type="edit"] {
  width: 12rem;
  float: right;
  margin-right: 4rem;
}

#quick-save-contact {
  margin: 0 0 0 8rem;
  float: left;
}


.data-index {
  border-bottom: .2rem solid #FFA600;
  padding-left: 1rem;
  color: #FF9A00;
  padding: 1rem;
}

.contact-list-item {
  margin-top: .5rem;
}

.contact-list-item:hover {
  background-color: #F4F4F4;
}

.contact-list-item:active {
  background-color: #EEE;
}

.contact-list-item[data-focused=true] {
  background-color: #DEF3F8;
}

.contact-list-item > div {
  overflow: hidden;
  cursor: pointer;
  padding: .5rem 0 .5rem 1rem;
}

.contact-list-item > div > * {
  float: left;
}

.contact-list-item >div input.checkbox[type="checkbox"] + label.selectAll {
  background-image: url("images/checkbox.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.contact-list-item >div input.checkbox[type="checkbox"]:checked + label.selectAll {
  background-image: url("images/checkbox-checked.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.contact-list-item >div > label.unchecked {
  background-image: url("images/checkbox.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.contact-list-item >div  > label.checked {
  background-image: url("images/checkbox-checked.png");
}

.contact-list-item .bookmark {
  width: 3rem;
  height: 3.3rem;
  text-align: center;
  background-image: url("images/bookmark.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#contact-list-container div.favorite .bookmark {
  background-image: url("images/bookmarked.png");
}

.contact-list-item .avatar-default {
  background-image: url("images/avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
}

.contact-list-item .avatar-small {
  width: 3.2rem;
  height: 3.2rem;
}

.contact-list-item .profilePic {
  width: 9rem;
}

.contact-list-item .avatar-small[data-noavatar=true] {
  background: url("images/noavatar.png") no-repeat scroll center center  transparent;
}

.contact-list-item .contact-info {
  font-size: 1.1rem;
  padding-left: 1rem;
}

.contact-list-item .contact-info .tel {
  color: #999;
}

.contact-list-item .odd {
  background-color: #EEEEEE;
}

/**** vcard box styles ****/
#contact-vcard-box {
  -moz-box-sizing: border-box;
  padding: 1rem;
  overflow: hidden;
}

#contact-vcard-box .edit {
  width: 4rem;
}

#contact-vcard-box .vcard-header {
  color: #CCC;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
}

#vcard-basic-info-box {
  height: 7rem;
  padding-bottom: 2rem;
}

#contact-edit-view[data-add-contact=false] #add-contact-header{
  display: none;
}

#contact-edit-view[data-add-contact=false] #edit-contact-header{
  display: inherit;
}

#contact-edit-view[data-add-contact=true] #add-contact-header{
  display: inherit;
  text-align: center;
}

#contact-edit-view[data-add-contact=true] #edit-contact-header{
  display: none;
}

#vcard-basic-info-box > div:last-child {
  margin-left: 1rem;
}

#vcard-basic-info-box > .avatar {
  float: left;
  height: 8rem;
  width: 8rem;
  background-color: #F2F2F2;
}

.headpic {
  width: 8rem;
}

#vcard-basic-info-box .name {
  font-weight: bold;
}

#vcard-basic-info-box .company {
  color: #CCC;
}

#vcard-basic-info-box > div:last-child {
  padding-left: 8rem;
}

.vcard-info-bar {
  color: #CCC;
}

.vcard-info-bar .header {
  color: #FF9A00;
}

.vcard-info-bar .contact-way-name {
  width: 7rem;
}

/********* contact form ********/
#contact-form .avatar {
  width: 8rem;
  height: 8rem;
  float: left;
  margin: .8rem .5rem;
  background-color: #EEE;
}

.avatar-edit {
  background-image: url("images/avatar-add.png");
  background-repeat: no-repeat;
  background-position: 0 .5rem;
  height: 8rem;
  width: 8rem;
  float: left;
}

.item-body-exp {
  overflow: hidden;
}

#contact-form li {
  padding-right: 3rem;
}

#contact-form div {
  position: relative;
}

#contact-form ul {
  padding-bottom: 1rem;
}

#contact-form .action-delete {
  position: absolute;
  height: 2.2rem;
  width: 2.2rem;
  background: url(images/delete.png) no-repeat;
  left: 100%;
  top: 50%;
  margin: -1rem 0 0 .5rem;
}

/* Fieldset */
fieldset {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0,0,0,.2);
  font: 1.4rem/1em "MozTT", Sans-serif;
  margin: 0 0 .5rem;
  background-color: white;
}

fieldset + fieldset {
  margin-top: 1.5rem;
}

fieldset select {
  width: 6rem;
}

fieldset legend {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: 9.5rem;
  height: 4rem;
  padding: 0 0.5rem 0 1.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  line-height: 4rem;
  text-transform: uppercase;
}

fieldset legend.action {
  position: relative;
}

fieldset section {
  border-left: 0.1rem solid #DDDDDD;
  border-radius: 0 0.3rem 0.3rem 0;
  display: block;
  overflow: hidden;
}

fieldset section p {
  border-bottom: 0.1rem solid #DDDDDD;
  margin: 0;
}

fieldset section input[type="text"],
fieldset section input[type="password"],
fieldset section input[type="email"],
fieldset section input[type="tel"],
fieldset section input[type="search"],
fieldset section input[type="number"],
fieldset section textarea {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 0 0 0 0;
  font-weight: 600;
  height: 2rem;
}

form p input:valid, form p input:valid:focus {
  padding-right: 3.5rem;
}

button.add-new-button {
  position: relative;
  border: 0.1rem solid #9F9F9F;
  background: none repeat scroll 0 0 #E8F2FF;
  width: 100%;
  padding: .5rem 2rem;
  text-align: left;
  margin: -1rem 0 .5rem;
  border-radius: 0 0 .3rem .3rem;
  vertical-align: middle;
}

.saveAndCancel {
  height: 3rem;
}

#views h1.title {
  text-align: center;
  padding: 1rem;
}

.show-contact-header {
  height: 9rem;
}

.avatar-show {
  float: left;
  width: 8rem;
  height: 8rem;
  background-image: url("images/avatar-add.png");
  background-position: center 0;
  background-repeat: no-repeat;
}

.contact-head {
  float: left;
  height: 9rem;
}

.contact-content .header {
  margin: 2rem 0;
  color: black;
}

.contact-edit{
  color: #CCC;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
}
.contact-item label {
  margin: 0 2rem;
  color: black;
}

.show-contacts-container {
  max-height: 60rem;
  overflow: auto;
}

.show-contacts-container .contact-item {
  height: 4rem;
  width: 20rem;
  overflow: hidden;
  margin-top: .5rem;
}

.multi-avatar-show {
  float: left;
  width: 3rem;
  height: 3rem;
  background-image: url("images/avatar.png");
  background-position: center 0;
  background-repeat: no-repeat;
}

.contact-item >div >div {
  margin-left: 1rem;
  float: left;
  width: 15rem;
  overflow-x: hihidden;
}