/*** gallery ***/

.gallery-ops-box {
  overflow: hidden;
  height: 3rem;
  line-height: 3rem;
}

.gallery-ops-box .gallery-op {
  background-position: 0 center;
  background-repeat: no-repeat;
  float: left;
  padding: 0 1.3rem 0 2rem;
  cursor: pointer;
}

.gallery-ops-box .gallery-op label {
  cursor: pointer;
  -moz-user-select: none;
}

#selectAll-pictures {
  background-image: url("images/checkbox.png");
  margin-left: 2rem;
  padding-left: 2.2rem;
}

#selectAll-pictures[data-checked=true] {
  background-image: url("images/checkbox-checked.png");
}

#selectAll-pictures[data-disabled=true] {
  color: #CCCCCC;
}

#selectAll-pictures[data-disabled=true] > label {
  cursor: default;
}

#selectAll-pictures[data-disabled=false]:hover {
  color: #00CAF2;
}

#selectAll-pictures[data-disabled=false]:active {
  color: #018CAB;
}

#remove-pictures {
  background-image: url("images/remove-default.png");
}

#remove-pictures[data-disabled=true] {
  background-image: url("images/remove-disabled.png");
  cursor: default;
  color: #CCCCCC;
}

#remove-pictures[data-disabled=true] > label {
  cursor: default;
}

#remove-pictures[data-disabled=false]:hover {
  background-image: url("images/remove-highlighted.png");
  color: #00CAF2;
}

#remove-pictures[data-disabled=false]:active {
  background-image: url("images/remove-selected.png");
  color: #018CAB;
}

#export-pictures[data-disabled=true] {
  background-image: url("images/export-disabled.png");
  color: #CCCCCC;
}

#export-pictures[data-disabled=false] {
  background-image: url("images/export-default.png");
}

#export-pictures[data-disabled=true] > label {
  cursor: default;
}

#export-pictures[data-disabled=false]:hover {
  background-image: url("images/export-highlighted.png");
  color: #00CAF2;
}

#export-pictures[data-disabled=false]:active {
  background-image: url("images/export-selected.png");
  color: #018CAB;
}

#import-pictures {
  background-image: url("images/import-default.png");
}

#import-pictures[data-disabled=true] > label {
  cursor: default;
}

#import-pictures:hover {
  background-image: url("images/import-highlighted.png");
  color: #00CAF2;
}

#import-pictures:active {
  background-image: url("images/import-selected.png");
  color: #018CAB;
}

#refresh-pictures {
  background-image: url("images/refresh-default.png");
}

#refresh-pictures:hover {
  background-image: url("images/refresh-highlighted.png");
  color: #00CAF2;
}

#refresh-pictures:active {
  background-image: url("images/refresh-selected.png");
  color: #018CAB;
}

#picture-list-container {
  max-height: 46rem;
  overflow: auto;
  margin-bottom: 2rem;
}

.picture-thread {
  margin-left: 1.8rem;
  clear: both;
}

.picture-thread .header {
  height: 2.2rem;
  width: 100%;
  margin-top: 0.4rem;
}

.picture-thread[data-checked=false] label {
  background-image: url("images/checkbox.png");
  background-position: 0.2rem 0;
  background-repeat: no-repeat;
  display: inline-block;
}

.picture-thread[data-checked=true] label {
  background-image: url("images/checkbox-checked.png");
  background-position: 0.2rem 0;
  background-repeat: no-repeat;
  display: inline-block;
}

.picture-thread span {
  margin-left: 2.4rem;
}

.picture-thread .body {
  clear: both;
  margin-left: 0.3rem;
}

.picture-thread li img {
  border: 0.2rem #FFFFFF solid;
  height: 7.8rem;
  width: 10.6rem;
}

.picture-thread li img:hover {
  border: 0.2rem #00c8f0 solid;
}

.picture-thread li[data-checked=true] .item-check {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 8.3rem;
  background-image: url("images/pic-checked.png");
  top: 1.0rem;
}

.picture-thread li[data-checked=false] .item-check {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  left: 8.3rem;
  background-image: url("images/pic-unchecked.png");
  top: 1.0rem;
}
.picture-thread .body >li {
  position: relative;
  width: 11.0rem;
  height: 8.2rem;
  overflow: hidden;
  display: inline-block;
  margin: 0.3rem;
}

.pic-selected {
  border: 0.2rem solid #00CAF4;
}

.pictures-group .groupBody .pic-item > img {
  width: 10.0rem;
  height: 7.5rem;
}

.pic-tip {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.7rem;
  position: absolute;
  font-size: 0.9rem;
}

#modal-container {
  position: relative;
  min-height: 48rem;
}

.mask {
  background-color: #000000;
  opacity: 0.7;
  height: 100%;
  width: calc(100% - 0.7rem);
  position: absolute;
  top: 0;
  z-index: 1;
  margin-left: 0.7rem;
}

.dialog {
  position: absolute;
  top: 0;
  z-index: 2;
  width: calc(100% - 0.7rem);
  height: 100%;
  margin-left: 0.7rem;
}

.dialog .bar {
  height: 5rem;
}

.closeX {
  background-image: url("images/dialog-cancel.png");
  background-position: center center;
  background-repeat: no-repeat;
  float: right;
  height: 5rem;
  margin-right: 1rem;
  width: 7rem;
}

.gallery-left-arrow {
  background-image: url("images/gallery-left.png");
  background-position: center center;
  height: 5rem;
  margin-left: 1rem;
  margin-top: 20rem;
  width: 5rem;
}

.gallery-left-arrow:hover {
  background-image: url("images/gallery-left-hilight.png");
}

.gallery-right-arrow {
  background-image: url("images/gallery-right.png");
  background-position: center center;
  height: 5rem;
  margin-left: 1rem;
  margin-top: 20rem;
  width: 5rem;
}

.gallery-right-arrow:hover {
  background-image: url("images/gallery-right-hilight.png");
}

.column-left, .column-right {
  float: left;
  width: 10%;
  height: 100%;
}

.column-middle {
  position: relative;
  float: left;
  width: 80%;
  height: calc(100% - 10rem);
}

.column-middle > img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#empty-picture-container {
  display: none;
}

.empty-pictures {
  background: url('images/empty-pictures.png') no-repeat scroll center center transparent;
  height: 16rem;
  margin: 10rem 0 2rem;
}

.empty-pictures-prompt {
  text-align: center;
}

.import-pictures-btn-container {
  height: 4rem;
}

.import-pictures {
  float: left;
  height: 2rem;
  width: 12rem;
  margin: 1rem 0 0 31rem;
  padding: 0.1rem 1rem;
}