* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif, 宋体;
  color: #333333;
  padding-top: 1rem;
  overflow-y: scroll;
  background-color: #888888;
}

ul, ol, dl, dt, dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="url"], textarea {
  text-overflow: ellipsis;
  -moz-box-sizing: border-box;
  width: 100%;
  border: 0.1rem solid #CCCCCC;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  box-shadow: none;
  display: block;
  font: 1.4rem/4rem;
  overflow: hidden;
  padding: 0 0.8rem;
  resize: none;
  height: 3rem;
  margin: 0.5rem 0;
}

.clear-fix {
  clear: both;
}

.coming-soon {
  height: 50rem;
  background: url("images/coming-soon.jpg") no-repeat center center transparent;
}

.button {
  color: #FFFFFF;
  cursor: pointer;
  border-radius: .2rem;
  padding: .1rem 3rem;
  text-align: center;
  text-decoration: none;
  margin: 1rem 0;
  background: -moz-linear-gradient(center top , #00AACF, #00AACF) repeat scroll 0 0 transparent;
}

.button:hover,
.active-button {
  background: -moz-linear-gradient(center top , #00C3ED, #00C3ED) repeat scroll 0 0 transparent;
}

.button-ok {
  width: 11rem;
}

.button-cancel {
  border: 0.1rem solid;
  border-radius: 0.2rem;
  color: #808080;
  padding: 0.1rem 3rem;
  text-decoration: none;
}

#container {
  width: 96rem;
  margin: auto;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0 0 1.9rem 0 #5F5F5F;
}

.title-bar {
  color: #FFF;
  background-color: #E86000;
  height: 3.5rem;
}

.title-bar .assistant {
  float: left;
  margin: 0.8rem 1rem 0 1rem;
  font-size: 1.5rem;
}

.device-state{
  float: left;
  margin: 1.05rem 0 0 0;
  font-size: 1.2rem;
}

.hiddenElement {
  display: none;
}

#lang-settings {
  float: right;
  font-size: 1.2rem;
  -moz-user-select: none;
  margin: 0.8rem 2rem 0 0 ;
}

#lang-settings label {
  padding: 0 0.5rem;
  cursor: pointer;
}

#lang-settings label.current {
  color: #952108;
}

#welcome-msg {
  padding: 1rem;
}

#welcome-msg span {
  font-size: 2.5rem;
  padding: 2rem 1rem 1rem 2rem;
}

#welcome-msg p {
  margin: -1.5rem 1rem;
  color: #858585;
}

#user-guide {
  height: 40rem;
}

.connection-title {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 3rem;
}

.help {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.connection-button {
  height: 19rem;
  text-align: center;
  margin-top: 0.1rem;
}

.usb-connection-button-unselect {
  background: url("images/usbconnectionbutton.png") no-repeat center center transparent;
  float: left;
  height: 17rem;
  width: 17rem;
  text-align: center;
  vertical-align: text-bottom;
  padding: 0.5rem;
  margin-left: 21rem;
  margin-right: 1.0rem;
  margin-top: 0.5rem;
  background-color: #F4F4F4;
  border-radius: 0.8rem;
}

.usb-connection-button-unselect[data-checked=false]:hover {
  background-color: #e2e2e2;
}

.usb-connection-button-select {
  background: url("images/usbconnectionbuttonselect.png") no-repeat center center #e86000;
}

.wifi-connection-button-unselect {
  background: url("images/wificonnectionbutton.png") no-repeat center center transparent;
  float: left;
  height: 17rem;
  width: 17rem;
  text-align: center;
  vertical-align: text-bottom;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #F4F4F4;
  border-radius: 0.8rem;
}

.wifi-connection-button-unselect[data-checked=false]:hover {
  background-color: #e2e2e2;
}

.wifi-connection-button-select {
  background: url("images/wificonnectionbuttonselect.png") no-repeat center center #e86000;
}

.usb-connection-step {
  background-color: #e7f0f2;
  height: 17rem;
  text-align: center;
  margin-right: 15.9rem;
  margin-left: 16.8rem;
  margin-top: 0.9rem;
}

.usb-connection-step .usbarrow {
  height: 1.1rem;
  left: 12.6rem;
  position: relative;
  width: 2.0rem;
  top: -1.2rem;
}

.usb-connection-step .usbarrow .side {
  background-color: #e7f0f2;
  height: 2.0rem;
  left: 0;
  position: absolute;
  top: 0.3rem;
  transform: rotate(45deg);
  width: 2.0rem;
}

.step-one-usb {
  background: url("images/client.png") no-repeat center center transparent;
  float: left;
  height: 7rem;
  width: 12rem;
  padding: 0.5rem;
  background-color: #e7f0f2;
  margin-left: 5.0rem;
  margin-top: 1.8rem;
}

#usb-step-one span {
  margin-left: -6.9rem;
  margin-top: 7.0rem;
  width: 13.5rem;
  position: absolute;
  font-size: 1.2rem;
  color: #333333;
}

.step-two-usb {
  background: url("images/arrowto.png") no-repeat center center transparent;
  float: left;
  height: 6rem;
  width: 7rem;
  padding: 0.5rem;
  background-color: #e7f0f2;
  margin: 1.8rem 3rem 0 -1rem;
}

.step-three-usb {
  background: url("images/usbconnection.png") no-repeat center center transparent;
  float: left;
  height: 7rem;
  width: 12rem;
  padding: 0.5rem;
  background-color: #e7f0f2;
  margin-left: -1.5rem;
  margin-top: 1.8rem;
}

#usb-step-three span {
  margin-left: -8.0rem;
  margin-top: 7.3rem;
  width: 16.0rem;
  position: absolute;
  color: #333333;
  font-size: 1.2rem;
}

.wifi-connection-step {
  background-color: #e7f0f2;
  height: 17rem;
  text-align: center;
  margin-right: 15.9rem;
  margin-left: 16.8rem;
  margin-top: 0.9rem;
}

.wifi-connection-step .wifiarrow {
  height: 1.1rem;
  width: 2.0rem;
  left: 31.2rem;
  position: relative;
  top: -1.2rem;
}

.wifi-connection-step .wifiarrow .side {
  background-color: #e7f0f2;
  height: 2.0rem;
  left: 0;
  position: absolute;
  top: 0.3rem;
  transform: rotate(45deg);
  width: 2.0rem;
}

.step-one-wifi {
  background: url("images/wificonnection.png") no-repeat center center transparent;
  float: left;
  height: 7rem;
  width: 12rem;
  padding: 0.5rem;
  background-color: #e7f0f2;
  margin-left: 6.8rem;
  margin-top: 0;
}

#wifi-step-one span {
  margin-left: -6.9rem;
  margin-top: 7.0rem;
  width: 13.5rem;
  position: absolute;
  font-size: 1.2rem;
  color: #333333;
}

.step-two-wifi {
  background: url("images/arrowto.png") no-repeat center center transparent;
  float: left;
  height: 6rem;
  width: 7rem;
  padding: 0.5rem;
  background-color: #e7f0f2;
  margin-left: 1rem;
}

.step-three-wifi {
  background: url("images/client.png") no-repeat center center transparent;
  float: left;
  height: 7rem;
  width: 12rem;
  padding: 0.5rem;
  background-color: #e7f0f2;
  margin-left: -1.5rem;
  margin-top: -0.3rem;
}

#wifi-step-three span {
  margin-left: -8.0rem;
  margin-top: 7.3rem;
  width: 16.0rem;
  position: absolute;
  color: #333333;
  font-size: 1.2rem;
}

#wifi-connection-code-input {
  width: 22rem;
  float: left;
  margin-left: 6.4rem;
  margin-top: 3.1rem;
  width: 22rem;
  color: #a6a6a6;
}

#wifi-connect-button {
  height: 2.8rem;
  width: 10rem;
  float: left;
  font-size: 1.5rem;
  margin-left: 0.7rem;
  margin-top: 3.7rem;
  text-align: center;
  font-size: 1.4rem;
}

/****** sidebar *******/
.sidebar {
  width: 18rem;
  height: 100%;
  box-shadow: 0.6rem 0 0 0 #EFEFEF;
  background-color: #F4F4F4;
  vertical-align: top;
  float: left;
  height: 58rem;
}

.sidebar .list {
  margin-top: 4rem;
}

.sidebar .list2 {
  margin-top: 2rem;
}

.sidebar .list .header {
  padding: 1rem;
  font-size: 2.0rem;
  border-left: 0.3rem solid #E86000;
}

.sidebar .list .item {
  padding: .5rem 4.5rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 2rem  center;
  -moz-user-select: none;
}

.sidebar .list .item:active {
  background-color: #FFF;
}

.sidebar .list .selected {
  background-color: #DEF3F8;
  margin-right: -0.2rem;
  color: #05CEF4;
}

#connect-list .item {
  border: none;
  background-color: #DEF3F8;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  color: #00C8F0;
}

.summary-tab {
  background-image: url("images/phone.png");
}

.summary-tab-selected {
  background-image: url("images/phone-selected.png");
}

.contact-tab {
  background-image: url("images/contact.png");
}

.contact-tab-selected {
  background-image: url("images/contact-selected.png");
}

.sms-tab {
  background-image: url("images/sms.png");
}

.sms-tab-selected {
  background-image: url("images/sms-selected.png");
}

.apps-tab {
  background-image: url("images/app.png");
}

.apps-tab-selected {
  background-image: url("images/app-selected.png");
}

.music-tab {
  background-image: url("images/music.png");
}

.music-tab-selected {
  background-image: url("images/music-selected.png");
}

.gallery-tab {
  background-image: url("images/camera.png");
}

.gallery-tab-selected {
  background-image: url("images/camera-selected.png");
}

.videos-tab {
  background-image: url("images/video.png");
}

.videos-tab-selected {
  background-image: url("images/video-selected.png");
}

.marketplace-tab {
  background-image: url("images/marketplace.png");
}

.marketplace-tab-selected {
  background-image: url("images/marketplace-selected.png");
}

.themes-tab {
  background-image: url("images/theme.png");
}

.themes-tab-selected {
  background-image: url("images/theme-selected.png");
}

.ringtone-tab {
  background-image: url("images/ringtone.png");
}

.ringtone-tab-selected {
  background-image: url("images/ringtone-selected.png");
}

/******** content *********/
.content {
  height: 100%;
  float: left;
  height: 58rem;
  width: 75rem;
}

.narrow-content {
  width: 47rem;
}

.content .view {
  min-height: 55rem;
}

.content .view .view-body {
  overflow: hidden;
}

.content .view span.title {
  display: -moz-inline-box;
  padding: 2rem 1.2rem 1rem 2rem;
  font-size: 2.5rem;
}

/******** views ******/
.views {
  height: 58rem;
  width: 29rem;
  background-color: #FAFAFA;
  padding: 0 1rem;
  vertical-align: top;
  float: right;
}

.hidden-views {
  display: none;
}

/******** summary view ******/
#device-disconnect {
  display: -moz-inline-box;
  color: #00c9f7;
  font-size: 1.6rem;
}

#device-image {
  float: left;
  width: 50%;
  height: 47rem;
  margin-top: 2rem;
}

#device-image .device-picture {
  width: 100%;
  height: 70%;
  background: url("images/device.png") no-repeat center center transparent;
}

#device-image .device-connect {
  margin-top: 0rem;
  width: 100%;
  height: 30%;
  background-position: top;
  background: url("images/usb.png") no-repeat center top transparent;
}

#device-image .device-connect.wifiConnection {
  background: url("images/wireless.png") no-repeat center top transparent;
}

#summary-infos {
  float: left;
  width: 28rem;
  margin: 4rem 0 0;
}

#summary-infos > div:first-child{
  margin-top: 1rem;
  height: auto;
}

#summary-infos > div:last-child{
  margin-top: 3rem;
  height: 20rem;
}


#summary-infos .storage-total{
  height: 2.5rem;
}

#summary-infos .storage-total > div:first-child {
  float: left;
  font-size: 1.8rem;
  color: #090909;
}

.collapsed {
  background-image: url("images/collapsed.png");
  background-position: 24rem -1.5rem;
  background-repeat: no-repeat;
  background-size: 16% auto;
}

.expanded {
  background-image: url("images/expanded.png");
  background-position: 24rem -1.55555rem;
  background-repeat: no-repeat;
  background-size: 16% auto;
}

#summary-infos .storage-graph {
  height: .8rem;
  border-radius: .5rem;
  border: .1rem solid #D3D3D3;
  clear: both;
}

#summary-infos .storage-graph .used {
  width: 0;
  height: 100%;
  float: left;
  border-radius: 0.5rem;
  background-color: #00C9F7;
  transition-property: width;
  transition-duration: 1s;
}

#summary-infos .device-info{
  height: 3rem;
}

#summary-infos .device-info > span:first-child {
  font-size: 1.4rem;
  color: #868686;
  float: left;
  margin-top: 1rem;
}

#summary-infos .device-info  > span:last-child  {
  float: left;
  margin-left: 0.8rem;
  margin-top: 1rem;
}

#summary-infos .storage-detail {
  font-size: 1.6rem;
  color: #090909;
  height: 3rem;
}

#summary-infos .storage-detail > span {
  font-size: 1.4rem;
  color: #868686;
  float: left;
  margin-top: 1rem;
}

#summary-infos .storage-detail  > div:last-child  {
  width: 15rem;
  float: left;
  height: 0.5rem;
  margin-top: 1.8rem;
  margin-left: .8rem;
}

#summary-infos .storage-detailgraph .storage-used {
  width: 0;
  min-width: 1%;
  height: 0.5rem;
  border-radius: .5rem;
  background-color: #7FC80E;
  transition-property: width;
  transition-duration: 1s;
}

#summary-ops {
  margin-top: 5rem !important;
}

#backup-button {
  float: left;
}

#restore-button {
  float: right;
}

/******* Popup dialog *****/
div.modal-mask {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: 1;
}

div.modal-dialog {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

div.modal-container {
  background-color: white;
  height: 16rem;
  width: 40rem;
  margin: 0 auto;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  top: 10rem;
}

div.modal-title {
  height: 3rem;
  line-height: 3rem;
  font-size: 1.3rem;
  background-color: #FFDCA6;
  padding: 0 1rem;
}

div.modal-close-btn {
  position: absolute;
  height: 3rem;
  line-height: 3rem;
  right: 1rem;
  top: 0;
  z-index: 10;
  cursor: pointer;
  font-size: 1.5rem;
}

div.modal-body {
  padding: 1rem;
  font-size: 2.5rem;
}

div.modal-btn-container {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 2rem;
}

input.modal-btn {
  padding: 0 1rem;
}

.select-multi-files-dialog {
  background: #fff;
  border: 0.1rem #aaaaaa solid;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 2.0rem rgba(0,0,0,0.5);
  cursor: default;
}

.select-multi-files-dialog-header {
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.1rem #E86000 solid;
  box-shadow: 0 0.1rem 0 #E86000 inset;
  padding: 0.7rem 0.8rem 0.7rem 1.0rem;
  overflow: hidden;
  background-color: #E86000;
  color: #FFFFFF;
}

.select-multi-files-dialog-header-title {
  float: left
}

.select-multi-files-dialog-header-x {
  cursor: default;
  height: 1.6rem;
  width: 1.6rem;
  float: right;
  background: url("images/dialog-cancel.png");
}

.select-multi-files-dialog-body {
  min-height: 2em;
  padding: 1.5rem 1.5rem 1.0rem;
}

.processbar-prompt {
  margin: 1rem 0rem;
}

.processbar-prompt >div {
  float: right;
}

.processbar-container {
  width: 100%;
  height: 1.0rem;
  background-color: #E7E7E7;
  border-radius: 0.5rem;
}

.processbar {
  width: 0%;
  height: 1.0rem;
  background-color: #00C9F7;
  border-radius: 0.5rem;
}

.select-multi-files-dialog-footer {
  padding: 0 1.5rem 1.5rem;
}

.select-multi-files-dialog-footer-button-ctn {
  text-align: right;
}

.select-multi-files-dialog-footer-button-ctn .button {
  background: -moz-linear-gradient(center top , #f3f3f3, #e9e9e9) repeat scroll 0 0 transparent;
  border-color: #2c8e00;
  box-shadow: inset 0 0.1rem 0 0 rgba(255,255,255,0.2);
  color: rgba(0,0,0,0.9);
  text-shadow: 0 0.1rem 0 rgba(0,0,0,0.2);
  border: 0.1rem #999999 solid;
  border-radius: 0.3rem;
  height: 2.6rem;
  min-width: 6.0rem;
  padding: 0.3rem 1.0rem;
  vertical-align: middle;
  font: 1.2rem/1.5em;
  text-align: center;
  background-color: buttonface;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin-left: 0.4rem
}

.loading-dialog {
  height: 100%;
  margin-left: 0.7rem;
  position: absolute;
  top: 0;
  width: calc(100% - 0.7rem);
  z-index: 2;
  background: transparent;
}

.loading {
  background: transparent;
  position: relative;
  left: 0;
  margin: 0 auto;
  top: 10.0rem;
  width: 10rem;
  height: 10rem;
  font-size: 70px;
  list-style: none;
}

.loading li {
  background: url("images/loading.png") no-repeat;
  width: 1em;
  height: 1em;
  -moz-animation:
    rota 1.13s linear infinite,
    opa 3.67s ease-in-out infinite alternate;
}

/* css3 keyframes - animation */
@-moz-keyframes rota {
  to { -moz-transform: rotate(360deg); }
}

@-moz-keyframes opa {
  12.0% { opacity: 0.80; }
  19.5% { opacity: 0.88; }
  37.2% { opacity: 0.64; }
  40.5% { opacity: 0.52; }
  52.7% { opacity: 0.69; }
  60.2% { opacity: 0.60; }
  66.6% { opacity: 0.52; }
  70.0% { opacity: 0.63; }
  79.9% { opacity: 0.60; }
  84.2% { opacity: 0.75; }
  91.0% { opacity: 0.87; }
}

.alert {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0.1rem #000 solid;
  height: 17rem;
  position: relative;
  text-align: center;
  width: 35rem;
  cursor: default;
  left: 0;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.alert-dialog-header{
  border-radius:0.5rem 0.5rem 0 0;
  border-bottom:0.1rem #E86000 solid;
  box-shadow:0 0.1rem 0 #E86000 inset;
  padding:0.7rem 0.8rem 0.7rem 1.0rem;
  overflow: hidden;
  background-color: #E86000;
  color: #FFFFFF;
}

.alert-dialog-header-title{
  float: left
}

.alert-dialog-header-x{
  cursor:default;
  height:1.6rem;
  width:1.6rem;
  float: right;
  background: url("images/dialog-cancel.png");
}

.alert-dialog-header-x:hover{
  background: url("images/dialog-cancel-hover.png");
}

.alert-dialog-header-x:active{
  background: url("images/dialog-cancel-active.png");
}

.alert-dialog-body{
  height: 2.5em;
  padding: 4.5rem 1.5rem 1.0rem;
}

.alert-dialog-footer{
  border-radius:0 0 0.5rem 0.5rem;
  padding:0 1.5rem 1.5rem;
}

.alert-dialog-footer .button{
  color: #FFF;
}

.tip {
  background-color: #000000;
  color: #FFFFFF;
  width: 10.6rem;
  padding: 0.7rem;
  position: absolute;
  font-size: 0.9rem;
}

.tip >div {
  word-wrap: break-word;
}

.empty-container {
  margin: 0 2rem 0 0.6rem;
}
