/*** music ***/
#music-view {
}

.music-list-box {
  float: left;
  width: 100%;
}

.music-ops-box {
  overflow: hidden;
  height: 3rem;
  line-height: 3rem;
}

.music-ops-box .music-op {
  background-position: 0 center;
  background-repeat: no-repeat;
  float: left;
  padding: 0 1.3rem 0 2rem;
  cursor: pointer;
}

.music-ops-box .music-op label {
  cursor: pointer;
  -moz-user-select: none;
}

#selectAll-musics {
  background-image: url("images/checkbox.png");
  margin-left: 2rem;
  padding-left: 2.2rem;
}

#selectAll-musics[data-checked=true] {
  background-image: url("images/checkbox-checked.png");
}

#selectAll-musics[data-disabled=true] {
  color: #CCCCCC;
}

#selectAll-musics[data-disabled=true] > label {
  cursor: default;
}

#selectAll-musics[data-disabled=false]:hover {
  color: #00CAF2;
}

#selectAll-musics[data-disabled=false]:active {
  color: #018CAB;
}

#remove-musics {
  background-image: url("images/remove-default.png");
}

#remove-musics[data-disabled=true] {
  background-image: url("images/remove-disabled.png");
  cursor: default;
  color: #CCCCCC;
}

#remove-musics[data-disabled=true] > label {
  cursor: default;
}

#remove-musics[data-disabled=false]:hover {
  background-image: url("images/remove-highlighted.png");
  color: #00CAF2;
}

#remove-musics[data-disabled=false]:active {
  background-image: url("images/remove-selected.png");
  color: #018CAB;
}

#export-musics[data-disabled=true] {
  background-image: url("images/export-disabled.png");
  color: #CCCCCC;
  cursor: default;
}

#export-musics[data-disabled=false] {
  background-image: url("images/export-default.png");
}

#export-musics[data-disabled=true] > label {
  cursor: default;
}

#export-musics[data-disabled=false]:hover {
  background-image: url("images/export-highlighted.png");
  color: #00CAF2;
}

#export-musics[data-disabled=false]:active {
  background-image: url("images/export-selected.png");
  color: #018CAB;
}

#import-musics[data-disabled=true] {
  background-image: url("images/import-disabled.png");
  color: #CCCCCC;
  cursor: default;
}

#import-musics[data-disabled=false] {
  background-image: url("images/import-default.png");
}

#import-musics[data-disabled=true] > label {
  cursor: default;
}

#import-musics[data-disabled=false]:hover {
  background-image: url("images/import-highlighted.png");
  color: #00CAF2;
}

#import-musics[data-disabled=false]:active {
  background-image: url("images/import-selected.png");
  color: #018CAB;
}

#refresh-musics {
  background-image: url("images/refresh-default.png");
}

#refresh-musics:hover {
  background-image: url("images/refresh-highlighted.png");
  color: #00CAF2;
}

#refresh-musics:active {
  background-image: url("images/refresh-selected.png");
  color: #018CAB;
}

#music-list-container {
  max-height: 42rem;
  overflow: auto;
}

.empty-musics {
  background: url('images/empty-musics.png') no-repeat scroll 29.2rem center transparent;
  height: 16rem;
  margin: 4rem 0 1rem;
  opacity: 0.4;
}

.empty-musics-prompt {
  text-align: center;
  color: #a6a6a6;
  font-size: 1.7rem;
}

.import-musics-btn-container {
  height: 4rem;
}

.import-musics {
  float: left;
  height: 2rem;
  width: 12rem;
  margin: 1.2rem 0 0 29.5rem;
  padding: 1rem 1rem;
}

.music-header{
  height: 3rem;
  background-color: #E7E7E7;
  margin: 0 2rem 0 0.6rem;
  cursor: default;
}

.music-header div {
  font-size: 1.2rem;
  float:left;
  padding: 0.5rem 0 0  2.5rem;
}

.music-header div >label {
  font-size: 1.4rem;
}

.music-header .music-names {
  width:15rem;
  padding:  0.5rem 0 0 0.5rem;
}

.music-header .music-singer {
  width:10rem;
}

.music-header .music-album {
  width:16rem;
}

.music-header .music-timespan {
  width:5rem;
}

.music-header .music-type {
  width:6rem;
}

.music-header .music-size {
  width:7rem;
}


.music-header >label.empty {
  height: 2.8rem;
  width: 3.1rem;
  float: left;
}

.music-list-item .checkbox {
  background-position: right center;
  background-repeat: no-repeat;
  height: 2.8rem;
  width: 3.1rem;
  float: left;
}

.music-list-item[data-checked=true] label {
  background-image: url("images/checkbox-checked.png");
}

.music-list-item[data-checked=false] label {
  background-image: url("images/checkbox.png");
}

.music-list-item {
}

.music-list-item:nth-child(odd) {
  background-color: #F6F6F6;
}

.music-list-item:nth-child(even) {
  background-color: #FFFFFF;
}

.music-list-item:hover {
  background-color: #D0F7FF;
}

.music-list-item[data-checked=true] {
  background-color: #60DFF9;
}

.odd {
  background-color: #F6F6F6;
}

.even {
  background-color: #FFFFFF;
}

.item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}