/*** music ***/
#music-view {
}

.music-list-box {
  float: left;
  width: 100%;
}

.music-ops-box {
  overflow: hidden;
  padding: 0 0 0 1rem;
  background-color: #F9F9F9;
  height: 3rem;
  line-height: 3rem;
}

.music-ops-box .music-op {
  background-position: 0 center;
  background-repeat: no-repeat;
  float: left;
  padding: 0 1.3rem 0 2rem;
  cursor: pointer;
}

.music-ops-box .music-op label {
  cursor: pointer;
  -moz-user-select: none;
}

#select-all-musics {
  padding-left: 0;
}

#remove-musics {
  background-image: url("images/remove.png");
}

#remove-musics[data-disabled=true] {
  background-image: url("images/remove-disabled.png");
  cursor: default;
}

#remove-musics[data-disabled=true] > label {
  cursor: default;
}

#export-musics {
  background-image: url("images/export.png");
}

#import-musics {
  background-image: url("images/import.png");
}

#refresh-musics {
  background-image: url("images/refresh.png");
}

#music-list-container {
  padding-left: 1rem;
  max-height: 60rem;
  overflow: auto;
}

#music-header{
  padding: 0 0 0 1rem;
  height: 3rem;
  background-color: #FFC280;
}

#music-header div {
  font-size: 1.4rem;
}

#music-header .music-names {
  float:left;
  padding: 0.5rem 0 0  2.5rem;
  width:15rem;
}

#music-header .music-singer {
  float:left;
  padding: 0.5rem 0 0  2rem;
  width:10rem;
}

#music-header .music-album {
  float:left;
  padding: 0.5rem 0 0  2rem;
  width:15rem;
}

#music-header .music-timespan {
  float:left;
  padding: 0.5rem 0 0  2rem;
  width:5rem;
}

#music-header .music-type {
  float:left;
  padding: 0.5rem 0 0  2rem;
  width:5rem;
}

#music-header .music-size {
  float:left;
  padding: 0.5rem 0 0  2rem;
  width:5rem;
}

.item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.music-list-item .music-names {
  float:left;
  margin: .5rem 0 0  .5rem;
  width:17rem;
}

.music-list-item .music-singer {
  float:left;
  padding: 0.5rem 0 0 0;
  width:12rem;
}

.music-list-item .music-album {
  float:left;
  padding: 0.5rem 0 0 0;
  width:17rem;
}

.music-list-item .music-timespan {
  float:left;
  padding: 0.5rem 0 0 0;
  width:7rem;
}

.music-list-item .music-type {
  float:left;
  padding: 0.5rem 0 0 0;
  width:7rem;
}

.music-list-item .music-size {
  float:left;
  padding: 0.5rem 0 0 0;
  width:7rem;
}

.music-list-item {
  height: 2.5rem;
}

.music-list-item > div {
  float:left;
}


.music-list-item > div > * {
  width: -moz-max-content;
}

.music-list-item input[type="checkbox"] {
  float: left;
  margin: .8rem 0 0 .5rem;
}