/*** sms ***/
#sms-view {
  width: 100%;
}

.sms-list-box {
  float: left;
  width: 60%;
}

.sms-ops-box {
  overflow: hidden;
  height: 3rem;
  line-height: 3rem;
}

.sms-ops-box .sms-op {
  background-position: 0 center;
  background-repeat: no-repeat;
  float: left;
  padding: 0 1.3rem 0 2rem;
  cursor: pointer;
}

input.selectAllCheckbox[type="checkbox"]:checked + label.selectAll {
  background-image: url("images/checkbox-checked.png");
  background-repeat: no-repeat;
  padding-left: 2.3rem;
}

input.selectAllCheckbox[type="checkbox"] + label.selectAll {
  background-image: url("images/checkbox.png");
  background-repeat: no-repeat;
  padding-left: 2.3rem;
}

.sms-ops-box .sms-op label {
  cursor: pointer;
  -moz-user-select: none;
}

#remove-sms {
  background-image: url("images/remove-default.png");
}
#remove-sms[data-disabled=true] {
  background-image: url("images/remove-disabled.png");
  cursor: default;
}
#remove-sms[data-disabled=true] > label {
  cursor: default;
}
#remove-sms[data-disabled=false]:hover {
  background-image: url("images/remove-highlighted.png");
}
#remove-sms[data-disabled=false]:active {
  background-image: url("images/remove-selected.png");
}
#remove-sms[data-disabled=false]:visited {
  background-image: url("images/remove-default.png");
}

#export-sms[data-disabled=true] {
  background-image: url("images/export-disabled.png");
}
#export-sms[data-disabled=false] {
  background-image: url("images/export-default.png");
}
#export-sms[data-disabled=false]:hover {
  background-image: url("images/export-highlighted.png");
}
#export-sms[data-disabled=false]:active {
  background-image: url("images/export-selected.png");
}
#export-sms[data-disabled=false]:visited {
  background-image: url("images/export-default.png");
}

#import-sms {
  background-image: url("images/import-default.png");
}
#import-sms:hover {
  background-image: url("images/import-highlighted.png");
}
#import-sms:active {
  background-image: url("images/import-selected.png");
}
#import-sms:visited {
  background-image: url("images/import-default.png");
}

#refresh-sms {
  background-image: url("images/refresh-default.png");
}
#refresh-sms:hover {
  background-image: url("images/refresh-highlighted.png");
}
#refresh-sms:active {
  background-image: url("images/refresh-selected.png");
}
#refresh-sms:visited {
  background-image: url("images/refresh-default.png");
}

#add-new-sms {
  background-image: url("images/add-default.png");
}
#add-new-sms:hover {
  background-image: url("images/add-highlighted.png");
}
#add-new-sms:active {
  background-image: url("images/add-selected.png");
}
#add-new-sms:visited {
  background-image: url("images/add-default.png");
}

#sms-list-container {
  padding-left: 1rem;
  max-height: 60rem;
  overflow: auto;
}

.empty-sms {
  background: url('images/empty-sms.png') no-repeat scroll 0 0 transparent;
  height: 16rem;
  margin: 10rem 15rem 2rem;
}

.empty-sms-prompt {
  text-align: center;
}

.quick-add_view {
  background: url('images/logo.png') no-repeat scroll 0 0 transparent;
  height: 12rem;
  margin: 2rem 7.5rem;
  display: -moz-inline-grid;
}

#quick-add-sms-header {
  padding-left: 1rem;
  padding-bottom: 2rem;
}

#sms-quick-add-form > div {
  height: 3rem;
}

#sms-quick-add-form >div > label {
  padding-left: 1rem;
}

#sms-quick-add-form input[type="edit"] {
  width: 15rem;
  float: right;
  margin-right: 4rem;
}

#quick-save-sms {
  margin: 0 0 0 10.6rem;
  float: left;
}


.data-index {
  border-bottom: .2rem solid #FFA600;
  padding-left: 1rem;
  color: #FF9A00;
  padding: 1rem;
}

.sms-list-item {
  margin-top: .5rem;
}

.sms-list-item:active {
  background-color: #EEE;
}

.sms-list-item[data-focused=true] {
  background-color: #EEE;
}

.sms-list-item > div {
  overflow: hidden;
  cursor: pointer;
  padding: .5rem 0 .5rem 1rem;
}

.sms-list-item > div > * {
  float: left;
}

.sms-list-item >div input.checkbox[type="checkbox"] + label.selectAll {
  background-image: url("images/checkbox.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.sms-list-item >div input.checkbox[type="checkbox"]:checked + label.selectAll {
  background-image: url("images/checkbox-checked.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.sms-list-item .avatar-default {
  background-image: url("images/avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
}

.sms-list-item .avatar-small {
  width: 3.2rem;
  height: 3.2rem;
}

.sms-list-item .profilePic {
  width: 9rem;
}

.sms-list-item .avatar-small[data-noavatar=true] {
  background: url("images/noavatar.png") no-repeat scroll center center  transparent;
}

.sms-list-item .sms-info {
  font-size: 1.1rem;
  padding-left: 1rem;
}

.sms-list-item .readflag {
  width: 2rem;
  height: 3.3rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
}

#sms-list-container div.unread .readflag {
  background-image: url("images/unread.png");
}

/**** vcard box styles ****/
#sms-vcard-box {
  -moz-box-sizing: border-box;
  padding: 1rem;
  overflow: hidden;
}

#sms-vcard-box .edit {
  width: 4rem;
}

#sms-vcard-box .vcard-header {
  color: #CCC;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
}

#vcard-basic-info-box {
  height: 7rem;
  padding-bottom: 2rem;
}

#sms-edit-view[data-add-sms=false] #add-sms-header{
  display: none;
}

#sms-edit-view[data-add-sms=false] #edit-sms-header{
  display: inherit;
}

#sms-edit-view[data-add-sms=true] #add-sms-header{
  display: inherit;
}

#sms-edit-view[data-add-sms=true] #edit-sms-header{
  display: none;
}

#vcard-basic-info-box > div:last-child {
  margin-left: 1rem;
}

#vcard-basic-info-box > .avatar {
  float: left;
  height: 8rem;
  width: 8rem;
  background-color: #F2F2F2;
}

.headpic {
  width: 8rem;
}

#vcard-basic-info-box .name {
  font-weight: bold;
}

#vcard-basic-info-box .company {
  color: #CCC;
}

#vcard-basic-info-box > div:last-child {
  padding-left: 8rem;
}

.vcard-info-bar {
  color: #CCC;
}

.vcard-info-bar .header {
  color: #FF9A00;
}

.vcard-info-bar .sms-way-name {
  width: 7rem;
}

/********* sms form ********/
#sms-form .avatar {
  width: 8rem;
  height: 8rem;
  float: left;
  margin: .8rem .5rem;
  background-color: #EEE;
}

.item-body-exp {
  overflow: hidden;
}

#sms-form li {
  padding-right: 3rem;
}

#sms-form div {
  position: relative;
}

#sms-form ul {
  padding-bottom: 1rem;
}

#sms-form .action-delete {
  position: absolute;
  height: 2.2rem;
  width: 2.2rem;
  background: url(images/delete.png) no-repeat;
  left: 100%;
  top: 50%;
  margin: -1rem 0 0 1rem;
}

/* Fieldset */
fieldset {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0,0,0,.2);
  font: 1.4rem/1em "MozTT", Sans-serif;
  margin: 0 0 .5rem;
}

fieldset + fieldset {
  margin-top: 1.5rem;
}

fieldset select {
  width: 6rem;
}

fieldset legend {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: 9.5rem;
  height: 4rem;
  padding: 0 0.5rem 0 1.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  line-height: 4rem;
  text-transform: uppercase;
}

fieldset legend.action {
  position: relative;
}

fieldset section {
  border-left: 0.1rem solid #DDDDDD;
  border-radius: 0 0.3rem 0.3rem 0;
  display: block;
  overflow: hidden;
}

fieldset section p {
  border-bottom: 0.1rem solid #DDDDDD;
  margin: 0;
}

fieldset section input[type="text"],
fieldset section input[type="password"],
fieldset section input[type="email"],
fieldset section input[type="tel"],
fieldset section input[type="search"],
fieldset section input[type="number"],
fieldset section textarea {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 0 0 0 0;
  font-weight: 600;
  height: 4rem;
}

form p input:valid, form p input:valid:focus {
  padding-right: 3.5rem;
}

button.add-new-button {
  position: relative;
  border: 0.1rem solid #9F9F9F;
  background: none repeat scroll 0 0 #E8F2FF;
  width: 100%;
  padding: .5rem 2rem;
  text-align: left;
  margin: -1rem 0 .5rem;
  border-radius: 0 0 .3rem .3rem;
  vertical-align: middle;
}

.empty-list #cancel-edit-sms {
  display: none;
}

