/*** sms ***/
#sms-view {
  width: 100%;
}

.sms-list-box {
  float: left;
  width: 60%;
}

.sms-ops-box {
  overflow: hidden;
  height: 3rem;
  line-height: 3rem;
}

.sms-ops-box .sms-op {
  background-position: 0 center;
  background-repeat: no-repeat;
  float: left;
  padding: 0 1.3rem 0 2rem;
  cursor: pointer;
}

.sms-ops-box .sms-op label {
  cursor: pointer;
  -moz-user-select: none;
}

#remove-sms {
  background-image: url("images/remove-default.png");
}
#remove-sms[data-disabled=true] {
  background-image: url("images/remove-disabled.png");
  cursor: default;
}
#remove-sms[data-disabled=true] > label {
  cursor: default;
}
#remove-sms[data-disabled=false]:hover {
  background-image: url("images/remove-highlighted.png");
}
#remove-sms[data-disabled=false]:active {
  background-image: url("images/remove-selected.png");
}
#remove-sms[data-disabled=false]:visited {
  background-image: url("images/remove-default.png");
}

#export-sms[data-disabled=true] {
  background-image: url("images/export-disabled.png");
}
#export-sms[data-disabled=false] {
  background-image: url("images/export-default.png");
}
#export-sms[data-disabled=false]:hover {
  background-image: url("images/export-highlighted.png");
}
#export-sms[data-disabled=false]:active {
  background-image: url("images/export-selected.png");
}
#export-sms[data-disabled=false]:visited {
  background-image: url("images/export-default.png");
}

#import-sms {
  background-image: url("images/import-default.png");
}
#import-sms:hover {
  background-image: url("images/import-highlighted.png");
}
#import-sms:active {
  background-image: url("images/import-selected.png");
}
#import-sms:visited {
  background-image: url("images/import-default.png");
}

#refresh-sms {
  background-image: url("images/refresh-default.png");
}
#refresh-sms:hover {
  background-image: url("images/refresh-highlighted.png");
}
#refresh-sms:active {
  background-image: url("images/refresh-selected.png");
}
#refresh-sms:visited {
  background-image: url("images/refresh-default.png");
}

#add-new-sms {
  background-image: url("images/add-default.png");
}
#add-new-sms:hover {
  background-image: url("images/add-highlighted.png");
}
#add-new-sms:active {
  background-image: url("images/add-selected.png");
}
#add-new-sms:visited {
  background-image: url("images/add-default.png");
}

#sms-list-container {
  padding-left: 1rem;
  max-height: 60rem;
  overflow: auto;
}

.empty-sms {
  background: url('images/empty-sms.png') no-repeat scroll 0 0 transparent;
  height: 16rem;
  margin: 10rem 15rem 2rem;
}

.empty-sms-prompt {
  text-align: center;
  font-size: 2rem;
}

.sms-list-item {
  margin-top: .5rem;
}

.sms-list-item:active {
  background-color: #EEE;
}

.sms-list-item[data-focused=true] {
  background-color: #DEF3F8;
}

.sms-list-item > div {
  overflow: hidden;
  cursor: pointer;
  padding: .5rem 0 .5rem 1rem;
}

.sms-list-item > div > * {
  float: left;
}

.sms-list-item >div input.checkbox[type="checkbox"] + label.selectAll {
  background-image: url("images/checkbox.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.sms-list-item >div input.checkbox[type="checkbox"]:checked + label.selectAll {
  background-image: url("images/checkbox-checked.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.sms-list-item >div > label.unchecked {
  background-image: url("images/checkbox.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.sms-list-item >div  > label.checked {
  background-image: url("images/checkbox-checked.png");
}

.sms-list-item .bookmark {
  width: 3rem;
  height: 3.3rem;
  text-align: center;
  background-image: url("images/bookmark.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#sms-list-container div.favorite .bookmark {
  background-image: url("images/bookmarked.png");
}

.sms-list-item .avatar-default {
  background-image: url("images/avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
}

.sms-list-item .avatar-small {
  width: 3.2rem;
  height: 3.2rem;
}

.sms-list-item .profilePic {
  width: 9rem;
}

.sms-list-item .avatar-small[data-noavatar=true] {
  background: url("images/avatar.png") no-repeat scroll center center  transparent;
}

.sms-list-item .sms-info {
  font-size: 1.1rem;
  padding-left: 1rem;
  float: left;
  width: 80%;
}
.sms-list-item .readflag {
  width: 2rem;
  height: 3.3rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
}

#sms-list-container div.unread .readflag {
  background-image: url("images/unread.png");
}
.sms-list-item .contact-info .tel {
  color: #999;
}

.sms-list-item .odd {
  background-color: #EEEEEE;
}

.sms-send-view {
  background: url('images/logo.png') no-repeat scroll center bottom transparent;
  height: 24rem;
  margin: 4rem 6rem;
  display: -moz-inline-grid;
}
#sms-send-view-header {
  padding-left: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.6rem
}

#sms-send-view-form > div {
  height: 2.4rem;
}

#sms-send-view-form .button {
  float: left;
  margin: 0 0 0 8rem;
  text-align: center;
  font-size: 1.4rem
}


.w-ui-window{
	background:#fff;
	border:1px #aaaaaa solid;
	border-radius:5px;
	box-shadow:0 2px 20px rgba(0,0,0,0.5);
	cursor:default;
	left:0;
	min-height:140px;
	min-width:360px;
	position:absolute;
	top:0;
	-moz-transition:opacity .15s linear;
        top:180px;
        left:300px
}

.w-ui-window-header{
	background:-moz-linear-gradient(left top,left bottom,color-stop(0,white),color-stop(0.05,#f9f9f9),color-stop(1,#ededed));
	border-radius:5px 5px 0 0;
	border-bottom:1px #d6d6d6 solid;
	box-shadow:0 1px 0 #fff inset;
	padding:7px 8px 7px 10px;
        overflow: hidden
}
.w-ui-window-header-title{
        float: left
}
.w-ui-window-header-x{
	background-position:0 -8431px;
	cursor:default;
	height:16px;
	width:16px;
        float: right;
        background: url("images/sms-cancel.png");
}
.w-ui-window-header-x:hover{
	background-position:0 -6118px
}
.w-ui-window-header-x:active{
	background-position:0 -6178px
}
.w-ui-window-body{
	min-height:2em;
	padding:15px 15px 10px;
}
.w-ui-window-body p+p{
	margin-top:1em
}
.w-ui-window-footer{
	border-radius:0 0 5px 5px;
	padding:0 15px 15px
}
.w-ui-window-footer label{
	display:block
}
.w-ui-window-footer label input[type="checkbox"]{
	margin-right:3px
}
.w-ui-window.w-ui-alert{
	min-height:148px;
	width:360px
}
.w-ui-window-footer-monitor{
	line-height:25px;
	-moz-box-flex:1
}
.w-ui-window-footer-button-ctn{
	text-align:right
}
.w-ui-alert-window{
	min-height:148px;
	min-width:360px
}
.w-message-sender-window .header{
	margin-bottom:10px;
        overflow: hidden
}
.w-message-sender-window .header label{
	line-height:25px;
	margin-right:5px;
	text-align:right;
	width:80px;
        float: left
}
.w-message-sender-window .header .address{
	border:1px #cacaca solid;
	cursor:text;
	margin-right:10px;
	max-height:63px;
	min-height:21px;
	overflow-y:auto;
	padding:1px;
	-moz-box-flex:1;
	-moz-transition:border linear .2s,box-shadow linear .2s;
        float: left;
        width: 270px;
}
.w-message-sender-window .header .w-icon-btn{
        float: right
}
.w-message-sender-window .header .w-icon-btn{
  background: -moz-linear-gradient(center top , #f3f3f3, #e9e9e9) repeat scroll 0 0 transparent;
  border-color:#2c8e00;
  box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2);
  color:rgba(0,0,0,0.9);
  text-shadow:0 - 1px 0 rgba(0,0,0,0.2);
  border: 1px #999999 solid;
  border-radius: 3px;
  height: 26px;
  min-width: 60px;
  padding: 3px 10px;
  vertical-align: middle;
  font: 12px/1.5em Arial, Helvetica, Microsoft Yahei, sans-serif;
  -moz-box-align: center;
  text-align: center;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin-left: 4px
}
.w-message-sender-window .header .w-icon-btn .icon{
  background: url("images/sms-select-contact.png");
  display: inline-block;
  height: 16px;
  margin: -2px 3px 0 0;
  vertical-align: middle;
  width: 16px
}
.w-message-sender-window .header .address.focus,.w-message-sender-window .header .address.focus:hover{
	border-color:#6db800;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px #6db800
}
.w-message-sender-window .header .address:hover{
	border-color:rgba(109,184,0,0.5)
}
.w-message-sender-window .header .input-contact{
	border:none;
	height:18px;
	line-height:18px;
	width:100%
}
.w-message-sender-window .header .input-contact:focus,.w-message-sender-window .header .input-contact:focus:hover{
	box-shadow:none
}
.w-message-sender-window .body{
  overflow: hidden
}
.w-message-sender-window .body label{
	line-height:25px;
	margin-right:5px;
	text-align:right;
	width:80px;
        float: left
}
.w-message-sender-window .body .input-content{
	height:100px;
	width:395px;
        float: right
}
.w-message-sender-window .monitor{
	margin-left:85px
}

.w-ui-window-footer-button-ctn .button-send{
  background: -moz-linear-gradient(center top , #63c100, #46a100) repeat scroll 0 0 transparent;
  border-color:#2c8e00;
  box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2);
  color:white;
  text-shadow:0 - 1px 0 rgba(0,0,0,0.2);
  border: 1px #999999 solid;
  border-radius: 3px;
  height: 26px;
  min-width: 60px;
  padding: 3px 10px;
  vertical-align: middle;
  font: 12px/1.5em Arial, Helvetica, Microsoft Yahei, sans-serif;
  -moz-box-align: center;
  text-align: center;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block
}

::selection{
  background-color: #cfe4ff;
  color: #333;
  text-shadow: none
}
.w-ui-window-footer-button-ctn .button-cancel{
  background: -moz-linear-gradient(center top , #f3f3f3, #e9e9e9) repeat scroll 0 0 transparent;
  border-color:#2c8e00;
  box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2);
  color:rgba(0,0,0,0.9);
  text-shadow:0 - 1px 0 rgba(0,0,0,0.2);
  border: 1px #999999 solid;
  border-radius: 3px;
  height: 26px;
  min-width: 60px;
  padding: 3px 10px;
  vertical-align: middle;
  font: 12px/1.5em Arial, Helvetica, Microsoft Yahei, sans-serif;
  -moz-box-align: center;
  text-align: center;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin-left: 4px
}


.w-message-batch-conversations-list-ctn{
	background:#fff;
	border:1px #e5e5e5 solid;
	-moz-box-flex:1;
        height: 48rem;
}
.w-message-conversation-list-item .input,.w-message-conversation-list-item .date{
	display:none
}
.w-message-conversation-list-item .avatar{
  float: left;
  height: 48px;
  width: 48px;
  margin-left:5px
}
.w-ui-smartlist-body-ctn{
	overflow:hidden;
	-moz-box-flex:1
}

.w-ui-smartlist-body-ctn.odd>li:nth-child(odd):not(.highlight):not(:hover){
	background-color:#f5f5f5
}
.w-ui-smartlist-body-ctn.odd>li:nth-child(even):not(.highlight):not(:hover){
	background-color:transparent
}
.w-ui-smartlist-body-ctn>li{
  border-top:1px #f3f3f3 solid;
  overflow: hidden
}
.w-ui-smartlist-body-ctn>li:first-child{
	border-top-color:transparent
}
.w-ui-smartlist-body-ctn>li:nth-child(odd):not(.highlight):not(:hover){
	background-color:transparent
}
.w-ui-smartlist-body-ctn>li:nth-child(even):not(.highlight):not(:hover){
	background-color:#f5f5f5
}
.w-ui-smartlist-body-ctn>li.highlight{
	background-color:#e2fac0;
	color:#3c7800
}
.w-ui-smartlist-body-ctn>li.highlight .text-secondary{
	color:#3c7800
}
.w-ui-smartlist-body-ctn>li.highlight+.highlight{
	border-color:#d6ecb6
}
.w-ui-smartlist-body-ctn>li:hover,.w-ui-smartlist-body-ctn>li.highlight:hover{
	background-color:rgba(226,250,192,0.5)
}
.w-ui-smartlist-body-ctn .item-checker-wrap{
	display:block;
	-moz-box-align:center
}
.sms-thread-header{
	margin: auto;
	width:100%;
	-moz-box-align:center;
	-moz-box-pack:center;
        overflow: hidden;
}

.w-message-thread .date-ctn{
	margin:15px auto;
	width:100%;
	-moz-box-align:center;
	-moz-box-pack:center
}
.w-message-thread .date-ctn date{
	text-shadow:0 1px 0 #fff;
}
.w-message-thread .date-ctn hr{
	box-shadow:0 1px 0 #fff;
	height:0;
	-moz-box-flex:1
}
.w-message-thread .button-previous,.w-message-thread .button-next{
	padding:9px 0;
	text-align:center;
	text-shadow:0 1px 0 #fff
}
.w-message-thread .button-previous:hover,.w-message-thread .button-next:hover{
	cursor:pointer
}

.w-message-thread .button-previous,.w-message-thread .button-next{
	padding:9px 0;
	text-align:center;
	text-shadow:0 1px 0 #fff
}
.w-message-thread .button-previous:hover,.w-message-thread .button-next:hover{
	cursor:pointer
}

.w-message-item-ctn li{
	padding: 0 10px 20px;
}
.w-message-item-ctn li .content-wrap{
	background-image:-moz-gradient(linear,left top,left bottom,color-stop(0,#fbfbfb),color-stop(1,#f8f8f8));
	border:#cacaca 1px solid;
	border-radius:5px;
	box-shadow:0 1px 0 white inset,0 0 5px rgba(0,0,0,0.1);
	box-sizing:border-box;
	display:inline-block;
	max-width:136px;
	min-width:58px;
        min-height: 20px;
	padding:7px 13px;
	position:relative;
	text-shadow:0 1px 0 #fff;
        background-color: #E0F9FF;
}
.w-message-item-ctn li .content-wrap .content{
	word-break:break-all;
	-moz-hyphens:auto
}
.w-message-item-ctn li .content-wrap .content em{
	background-color:#f1ea00;
	border-radius:4px;
	box-shadow:rgba(0,0,0,0.5) 3px 3px 4px;
	color:#000;
	padding:2px 2px 2px 3px;
	margin:-2px -2px -2px -3px;
	opacity:.8;
	-moz-animation-name:magnifier;
	-moz-animation-duration:0.2s;
	-moz-animation-iteration-count:1;
	-moz-animation-timing-function:linear
}
.w-message-item-ctn li .content-wrap .button-toggle{
	display:inline-block
}
.w-message-item-ctn li .content-wrap .arrow{
	border-bottom:1px #cacaca solid;
	bottom:-1px;
	height:9px;
	left:-10px;
	overflow:hidden;
	position:absolute;
	width:15px
}
.w-message-item-ctn li .content-wrap .arrow .side{
	background-color:#E0F9FF;
	border-left:1px #cacaca solid;
	height:20px;
	left:0;
	position:absolute;
	top:3px;
	width:20px;
	-moz-transform:rotate(45deg)
}
.w-message-item-ctn li .content-wrap .actions{
	bottom:-20px;
	display:none;
	left:0;
	padding-top:5px;
	position:absolute;
	right:0
}
.w-message-item-ctn li .content-wrap .actions button{
	border:none;
	box-shadow:none;
	display:inline-block;
	height:16px;
	min-width:16px;
	padding:3px 3px;
	width:16px
}
.w-message-item-ctn li .content-wrap .actions button.button-delete{
	background: url("images/sms-delete.png");
        background-size: cover
}
.w-message-item-ctn li .content-wrap .actions button.button-delete:hover{
	background: url("images/sms-delete-hover.png");
        background-size: cover
}
.w-message-item-ctn li .content-wrap .actions button.button-delete:active{
	background: url("images/sms-delete-active.png");
        background-size: cover
}
.w-message-item-ctn li .content-wrap .actions button.button-reply{
        background: url("images/sms-reply.png");
        background-size: cover
}
.w-message-item-ctn li .content-wrap .actions button.button-reply:hover{
        background: url("images/sms-reply-hover.png");
        background-size: cover
}
.w-message-item-ctn li .content-wrap .actions button.button-reply:active{
        background: url("images/sms-reply-active.png");
        background-size: cover
}
.w-message-item-ctn li .content-wrap .actions button.button-copy{
	background: url("images/sms-copy.png");
        background-size: cover
}
.w-message-item-ctn li .content-wrap .actions button.button-copy:hover{
	background: url("images/sms-copy-hover.png");
        background-size: cover
}
.w-message-item-ctn li .content-wrap .actions button.button-copy:active{
	background: url("images/sms-copy-active.png");
        background-size: cover
}
.w-message-item-ctn li .content-wrap:hover .actions{
	display:inline-block
}
.w-message-item-ctn li .info{
	display:inline-block;
	vertical-align:bottom;
	margin:0 0 0 10px;
	text-shadow:0 1px 0 #fff
}
.w-message-item-ctn li .info .icon{
	display:inline-block;
	height:16px;
	margin:-2px 0 0;
	vertical-align:middle;
	width:16px
}
.w-message-item-ctn li .info .icon.faild{
	background-position:0 -5895px;
	margin-right:3px
}
.w-message-item-ctn li .info .icon.sending{
	background-position:0 -9924px
}
.w-message-item-ctn li.from-me{
	direction:rtl
}
.w-message-item-ctn li.from-me .content-wrap{
	background-image:-moz-gradient(linear,left top,left bottom,color-stop(0,#d6f5b6),color-stop(1,#97e647));
	border-color:#84c93f;
	direction:ltr;
	text-shadow:0 1px 0 rgba(255,255,255,0.6);
        background-color: #97E647;
}
.w-message-item-ctn li.from-me .content-wrap .actions{
	direction:rtl
}
.w-message-item-ctn li.from-me .content-wrap .actions button+button{
	margin:0 4px 0 0
}
.w-message-item-ctn li.from-me .info{
	direction:ltr;
	margin:0 10px 0 0
}
.w-message-item-ctn li.from-me .arrow{
	border-bottom:1px #84c93f solid;
	left:auto;
	right:-10px
}
.w-message-item-ctn li.from-me .arrow .side{
	background-color:#97e647;
	border-left:none;
	border-top:1px #cacaca solid;
	left:auto;
	right:0
}

.sms-select-view-header{
  text-align: left;
  font-size: 1.6rem;
  width: 85%;
  height: 3.5rem;
}
.w-message-threads-ctn{
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 5px;
}
.w-message-quick-sender{
	background-color:#f9f9f9;
	padding:10px
}
.w-message-quick-sender .selector-ctn{
	margin-bottom:5px;
	-moz-box-align:center
}
.w-message-quick-sender .sender-ctn{
	min-height:26px;
	-moz-box-align:end
}
.w-message-quick-sender .sender-ctn .input-content{
	display:block;
	line-height:19px;
	margin-right:10px;
	min-height:20px;
	-moz-box-flex:1;
        overflow-x: hidden;
        overflow-y: auto;
}
.w-message-quick-sender .sender-ctn .count-ctn{
	min-width:78px
}
.w-message-quick-sender .sender-ctn .count-ctn .button-send{
    width:100%;
    -moz-box-align: center;
    background: -moz-linear-gradient(center top , #00AACF, #00AACF) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    color: white;
    cursor: default;
    display: inline-block;
    height: 26px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: middle;
    word-spacing: normal;
}
.w-message-quick-sender .sender-ctn .count-ctn .count-down{
	display:block;
	margin-bottom:3px;
	width:100%
}