/*** sms ***/
#sms-view {
  width: 100%;
}

.sms-list-box {
  float: left;
  width: 60%;
}

#selectAll-sms {
  background-image: url("images/checkbox.png");
  margin-left: 2rem;
  padding-left: 2.2rem;
  font-size: 14px;
}
#selectAll-sms[data-checked=true] {
  background-image: url("images/checkbox-checked.png");
}
#selectAll-sms[data-disabled=true] {
  color: #CCCCCC;
}
#selectAll-sms[data-disabled=false]:hover {
  color: #00CAF2;
}
#selectAll-sms[data-disabled=false]:active {
  color: #018CAB;
}

#remove-sms[data-disabled=false]:hover {
  color: #00CAF2;
}
#remove-sms[data-disabled=false]:active {
  color: #018CAB;
}

#export-sms[data-disabled=false]:hover {
  color: #00CAF2;
}
#export-sms[data-disabled=false]:active {
  color: #018CAB;
}

#refresh-sms[data-disabled=false]:hover {
  color: #00CAF2;
}
#refresh-sms[data-disabled=false]:active {
  color: #018CAB;
}


#add-new-sms[data-disabled=false]:hover {
  color: #00CAF2;
}
#add-new-sms[data-disabled=false]:active {
  color: #018CAB;
}

.sms-ops-box .sms-op {
  background-position: 0 center;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  margin-right: 1.3rem;
  padding-left: 2rem;
}

.sms-ops-box {
  height: 3rem;
  line-height: 3rem;
  overflow: hidden;
}

#remove-sms {
  background-image: url("images/remove-default.png");
}
#remove-sms[data-disabled=true] {
  background-image: url("images/remove-disabled.png");
  cursor: default;
}
#remove-sms[data-disabled=true] > label {
  cursor: default;
}
#remove-sms[data-disabled=false]:hover {
  background-image: url("images/remove-highlighted.png");
}
#remove-sms[data-disabled=false]:active {
  background-image: url("images/remove-selected.png");
}
#remove-sms[data-disabled=false]:visited {
  background-image: url("images/remove-default.png");
}

#export-sms[data-disabled=true] {
  background-image: url("images/export-disabled.png");
}
#export-sms[data-disabled=false] {
  background-image: url("images/export-default.png");
}
#export-sms[data-disabled=false]:hover {
  background-image: url("images/export-highlighted.png");
}
#export-sms[data-disabled=false]:active {
  background-image: url("images/export-selected.png");
}
#export-sms[data-disabled=false]:visited {
  background-image: url("images/export-default.png");
}

#import-sms {
  background-image: url("images/import-default.png");
}
#import-sms:hover {
  background-image: url("images/import-highlighted.png");
}
#import-sms:active {
  background-image: url("images/import-selected.png");
}
#import-sms:visited {
  background-image: url("images/import-default.png");
}

#refresh-sms {
  background-image: url("images/refresh-default.png");
}
#refresh-sms:hover {
  background-image: url("images/refresh-highlighted.png");
}
#refresh-sms:active {
  background-image: url("images/refresh-selected.png");
}
#refresh-sms:visited {
  background-image: url("images/refresh-default.png");
}

#add-new-sms {
  background-image: url("images/add-default.png");
}
#add-new-sms:hover {
  background-image: url("images/add-highlighted.png");
}
#add-new-sms:active {
  background-image: url("images/add-selected.png");
}
#add-new-sms:visited {
  background-image: url("images/add-default.png");
}

#threads-list-container {
  padding-left: 1rem;
  max-height: 60rem;
  overflow: auto;
}

.empty-sms {
  background: url('images/empty-sms.png') no-repeat scroll center 9rem transparent;
  height: 25rem;
}

.empty-sms-prompt {
  text-align: center;
  font-size: 2rem;
}

.threads-list-item {
  margin-top: .5rem;
}

.threads-list-item:hover {
  background-color: #F4F4F4;
}

.threads-list-item:active {
  background-color: #EEE;
}


.threads-list-item[data-focused=true] {
  background-color: #DEF3F8;
}

.threads-list-item > div {
  overflow: hidden;
  cursor: pointer;
  padding: .5rem 0 .5rem 1rem;
}

.threads-list-item > div > * {
  float: left;
  height: 3.5rem;
  width: 3.5rem;
}

.threads-list-item >div input.checkbox[type="checkbox"] + label.selectAll {
  background-image: url("images/checkbox.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.threads-list-item >div input.checkbox[type="checkbox"]:checked + label.selectAll {
  background-image: url("images/checkbox-checked.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.threads-list-item >div > label.unchecked {
  background-image: url("images/checkbox.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 3.3rem;
  width: 2rem;
}

.threads-list-item >div  > label.checked {
  background-image: url("images/checkbox-checked.png");
}

.threads-list-item .avatar-default {
  background-image: url("images/avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5rem;
  height: 3.5rem;
}

.threads-list-item .avatar-small {
  width: 3.2rem;
  height: 3.2rem;
}

.threads-list-item .profilePic {
  width: 9rem;
}

.threads-list-item .avatar-small[data-noavatar=true] {
  background: url("images/avatar.png") no-repeat scroll center center  transparent;
}

.threads-list-item .sms-info {
  font-size: 14px;
  padding-left: 1rem;
  float: left;
  width: 80%;
}
.threads-list-item .readflag {
  width: 2rem;
  height: 3.3rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
}

#threads-list-container div.unread .readflag {
  background-image: url("images/unread.png");
}


.threads-list-item .odd {
  background-color: #EEEEEE;
}

.sms-send-view {
  background: url('images/smslogo.png') no-repeat scroll 128px bottom transparent;
  height: 20rem;
  width: 100%;
  display: -moz-inline-grid;
}

#sms-send-view-header {
  color: #A6A6A6;
  padding-left: 1rem;
  padding-bottom: 10px;
  text-align: center;
  font-size: 17px;
  margin-top: 11px;
}

#sms-send-view-form > div {
  height: 2.2rem;
}

#sms-send-view-form .button {
  float: left;
  margin: 0 0 0 85px;
  text-align: center;
  font-size: 1.4rem;
  padding-top: 1rem;
  height: 3rem;
  width: 8rem;
}

.send-message-modal-container {
  width: 524px;
  height: 300px;
  margin: 0 auto;
  top: 100px;
  position: relative;
}

.send-single-sms-dialog {
  width: 524px;
  height: 300px;
  margin: 0 auto;
  top: 100px;
  position: relative;
}

.sms-ui-window{
  background:#fff;
  border:1px #aaaaaa solid;
  border-radius:5px;
  box-shadow:0 2px 20px rgba(0,0,0,0.5);
  cursor:default;
  left:0;
  min-height:140px;
  min-width:360px;
}

.sms-ui-window-contact{
  background:#fff;
  border:1px #aaaaaa solid;
  border-radius:5px;
  box-shadow:0 2px 20px rgba(0,0,0,0.5);
  cursor:default;
  left:0;
  min-height:140px;
  min-width:360px;
  position:absolute;
  top:0;
  top:100px;
  left:380px
}


.sms-ui-window-header{
  border-radius:5px 5px 0 0;
  border-bottom:1px #E86000 solid;
  box-shadow:0 1px 0 #E86000 inset;
  padding:7px 8px 7px 10px;
  overflow: hidden;
  background-color: #E86000;
  color: #FFFFFF;
}
.sms-ui-window-header-title{
  float: left
}
.sms-ui-window-header-x{
  background-position:0 -8431px;
  cursor:default;
  height:16px;
  width:16px;
  float: right;
  background: url("images/sms-cancel.png");
}
.sms-ui-window-header-x:hover{
  background: url("images/sms-cancel-hover.png");
}
.sms-ui-window-header-x:active{
  background: url("images/sms-cancel-active.png");
}
.sms-ui-window-body{
  min-height:2em;
  padding:15px 15px 10px;
}
.sms-ui-window-body p+p{
  margin-top:1em
}
.sms-ui-window-footer{
  border-radius:0 0 5px 5px;
  padding:0 15px 15px
}
.sms-ui-window-footer label{
  display:block
}
.sms-ui-window-footer label input[type="checkbox"]{
  margin-right:3px
}
.sms-ui-window.w-ui-alert{
  min-height:148px;
  width:360px
}
.sms-ui-window-footer-monitor{
  line-height:25px;
  -moz-box-flex:1
}
.sms-ui-window-footer-button-ctn{
  text-align:right
}

.sms-message-sender-window .header{
  margin-bottom:10px;
  overflow: hidden
}
.sms-message-sender-window .header label{
  line-height:25px;
  margin-right:5px;
  text-align:right;
  min-width:80px;
  float: left
}
.sms-message-sender-window .header .address{
  border:1px #cacaca solid;
  cursor:text;
  margin-right:10px;
  max-height:63px;
  min-height:21px;
  overflow-y:auto;
  padding:1px;
  float: left;
  width: 270px;
}
.sms-message-sender-window .header .sms-icon-btn{
  float: right
}
.sms-message-sender-window .header .sms-icon-btn{
  background: -moz-linear-gradient(center top , #00AACF, #00AACF) repeat scroll 0 0 transparent;
  border-color:#2c8e00;
  box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2);
  color: white;
  text-shadow:0 1px 0 rgba(0,0,0,0.2);
  border: 1px #999999 solid;
  border-radius: 3px;
  height: 26px;
  min-width: 60px;
  padding: 3px 10px;
  vertical-align: middle;
  font: 12px/1.5em Arial, Helvetica, Microsoft Yahei, sans-serif;
  text-align: center;
  cursor: default;
  background-color: buttonface;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin-left: 4px
}
.sms-message-sender-window .header .sms-icon-btn:hover{
  background: -moz-linear-gradient(center top , #00C3ED, #00C3ED) repeat scroll 0 0 transparent;
}
.sms-message-sender-window .header .sms-icon-btn .icon{
  background: url("images/sms-select-contact.png");
  display: inline-block;
  height: 16px;
  margin: -2px 3px 0 0;
  vertical-align: middle;
  width: 16px
}
.sms-message-sender-window .header .address.focus,.sms-message-sender-window .header .address.focus:hover{
  border-color:#6db800;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px #6db800
}
.sms-message-sender-window .header .address:hover{
  border-color:rgba(109,184,0,0.5)
}
.sms-message-sender-window .header .input-contact{
  border:none;
  height:18px;
  line-height:18px;
  width:100%
}
.sms-message-sender-window .header .input-contact:focus,.sms-message-sender-window .header .input-contact:focus:hover{
  box-shadow:none
}
.sms-message-sender-window .body{
  overflow: hidden
}
.sms-message-sender-window .body label{
  line-height:25px;
  margin-right:5px;
  text-align:right;
  width:80px;
  float: left
}
.sms-message-sender-window .body .input-content{
  height:100px;
  width:407px;
  float: right;
  overflow-y: auto;
}
.sms-message-sender-window .monitor{
  margin-left:85px;
  color: #999999;
  font-size: 12px;
}

.sms-ui-window-footer-button-ctn .button-send{
  background: -moz-linear-gradient(center top , #00AACF, #00AACF) repeat scroll 0 0 transparent;
  border-color:#2c8e00;
  box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2);
  color:white;
  text-shadow:0 1px 0 rgba(0,0,0,0.2);
  border: 1px #999999 solid;
  border-radius: 3px;
  height: 26px;
  min-width: 60px;
  padding: 3px 10px;
  vertical-align: middle;
  font: 12px/1.5em Arial, Helvetica, Microsoft Yahei, sans-serif;
  text-align: center;
  cursor: default;
  background-color: buttonface;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block
}

.sms-ui-window-footer-button-ctn .button-send:hover{
  background: -moz-linear-gradient(center top , #00C3ED, #00C3ED) repeat scroll 0 0 transparent;
}

.sms-ui-window-footer-button-ctn .button-cancel{
  background: -moz-linear-gradient(center top , #f3f3f3, #e9e9e9) repeat scroll 0 0 transparent;
  border-color:#2c8e00;
  box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.2);
  color:rgba(0,0,0,0.9);
  text-shadow:0 1px 0 rgba(0,0,0,0.2);
  border: 1px #999999 solid;
  border-radius: 3px;
  height: 26px;
  min-width: 60px;
  padding: 3px 10px;
  vertical-align: middle;
  font: 12px/1.5em Arial, Helvetica, Microsoft Yahei, sans-serif;
  text-align: center;
  cursor: default;
  background-color: buttonface;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin-left: 4px
}

.sms-thread-header{
  margin: auto;
  width:100%;
  overflow: hidden;
}

.sms-message-thread .date-ctn{
  margin:15px auto;
  width:100%;
}
.sms-message-thread .date-ctn date{
  text-shadow:0 1px 0 #fff;
}
.sms-message-thread .date-ctn hr{
  box-shadow:0 1px 0 #fff;
  height:0;
}
.sms-message-thread .button-previous,.sms-message-thread .button-next{
  padding:9px 0;
  text-align:center;
  text-shadow:0 1px 0 #fff
}
.sms-message-thread .button-previous:hover,.sms-message-thread .button-next:hover{
  cursor:pointer
}

.sms-message-thread .button-previous,.sms-message-thread .button-next{
  padding:9px 0;
  text-align:center;
  text-shadow:0 1px 0 #fff
}
.sms-message-thread .button-previous:hover,.sms-message-thread .button-next:hover{
  cursor:pointer
}

.sms-message-item-ctn li{
  padding: 0 10px 20px;
}
.sms-message-item-ctn li .content-wrap{
  border:#cacaca 1px solid;
  border-radius:5px;
  box-shadow:0 1px 0 white inset,0 0 5px rgba(0,0,0,0.1);
  display:inline-block;
  max-width:136px;
  min-width:58px;
  min-height: 20px;
  padding:7px 13px;
  position:relative;
  text-shadow:0 1px 0 #fff;
  background-color: #E0F9FF;
}

.sms-message-item-ctn li .content-wrap .content{
  word-break:break-all;
}
.sms-message-item-ctn li .content-wrap .content em{
  background-color:#f1ea00;
  border-radius:4px;
  box-shadow:rgba(0,0,0,0.5) 3px 3px 4px;
  color:#000;
  padding:2px 2px 2px 3px;
  margin:-2px -2px -2px -3px;
  opacity:.8;
}
.sms-message-item-ctn li .content-wrap .button-toggle{
  display:inline-block
}
.sms-message-item-ctn li .content-wrap .arrow{
  border-bottom:1px #cacaca solid;
  bottom:-1px;
  height:9px;
  left:-10px;
  overflow:hidden;
  position:absolute;
  width:15px
}
.sms-message-item-ctn li .content-wrap .arrow .side{
  background-color:#E0F9FF;
  border-left:1px #cacaca solid;
  height:20px;
  left:0;
  position:absolute;
  top:3px;
  width:20px;
  -moz-transform:rotate(45deg)
}
.sms-message-item-ctn li .content-wrap .actions{
  bottom:-20px;
  display:none;
  left:0;
  padding-top:5px;
  position:absolute;
  right:0
}
.sms-message-item-ctn li .content-wrap .actions button{
  border:none;
  box-shadow:none;
  display:inline-block;
  height:16px;
  min-width:16px;
  padding:3px 3px;
  width:16px
}
.sms-message-item-ctn li .content-wrap .actions button.button-delete{
  background: url("images/sms-delete.png");
  background-size: cover
}
.sms-message-item-ctn li .content-wrap .actions button.button-delete:hover{
  background: url("images/sms-delete-hover.png");
  background-size: cover
}
.sms-message-item-ctn li .content-wrap .actions button.button-delete:active{
  background: url("images/sms-delete-active.png");
  background-size: cover
}
.sms-message-item-ctn li .content-wrap .actions button.button-forward{
  background: url("images/sms-reply.png");
  background-size: cover
}
.sms-message-item-ctn li .content-wrap .actions button.button-forward:hover{
  background: url("images/sms-reply-hover.png");
  background-size: cover
}
.sms-message-item-ctn li .content-wrap .actions button.button-forward:active{
  background: url("images/sms-reply-active.png");
  background-size: cover
}
.sms-message-item-ctn li .content-wrap .actions button.button-resend{
  background: url("images/sms-resend.png");
  background-size: cover
}
.sms-message-item-ctn li .content-wrap .actions button.button-resend:hover{
  background: url("images/sms-resend-hover.png");
  background-size: cover
}
.sms-message-item-ctn li .content-wrap .actions button.button-resend:active{
  background: url("images/sms-resend-active.png");
  background-size: cover
}
.sms-message-item-ctn li .content-wrap:hover .actions{
  display:inline-block
}
.sms-message-item-ctn li .info{
  display:inline-block;
  vertical-align:bottom;
  margin:0 0 0 10px;
  text-shadow:0 1px 0 #fff
}
.sms-message-item-ctn li .info .icon{
  display:inline-block;
  height:16px;
  margin:-2px 0 0;
  vertical-align:middle;
  width:16px
}
.sms-message-item-ctn li .info .icon.faild{
  background-position:0 -5895px;
  margin-right:3px
}
.sms-message-item-ctn li .info .icon.sending{
  background-position:0 -9924px
}
.sms-message-item-ctn li.from-me{
  direction:rtl
}
.sms-message-item-ctn li.from-me .content-wrap{
  border-color:#84c93f;
  direction:ltr;
  text-shadow:0 1px 0 rgba(255,255,255,0.6);
  background-color: #97E647;
}
.sms-message-item-ctn li.from-me .content-wrap .actions{
  direction:rtl
}
.sms-message-item-ctn li.from-me .content-wrap .actions button+button{
  margin:0 4px 0 0
}
.sms-message-item-ctn li.from-me .info{
  direction:ltr;
  margin:0 10px 0 0
}
.sms-message-item-ctn li.from-me .arrow{
  border-bottom:1px #84c93f solid;
  left:auto;
  right:-10px
}
.sms-message-item-ctn li.from-me .arrow .side{
  background-color:#97e647;
  border-left:none;
  border-top:1px #cacaca solid;
  left:auto;
  right:0
}

.sms-message-item-ctn li.from-me-error{
  direction:rtl
}
.sms-message-item-ctn li.from-me-error .content-wrap{
  direction:ltr;
  text-shadow:0 1px 0 rgba(255,255,255,0.6);
  background-color: #F6F6F6;
  border-color:#E86000;
}
.sms-message-item-ctn li.from-me-error .content-wrap .actions{
  direction:rtl
}
.sms-message-item-ctn li.from-me .content-wrap .actions button+button{
  margin:0 4px 0 0
}
.sms-message-item-ctn li.from-me-error .info{
  direction:ltr;
  margin:0 10px 0 0
}
.sms-message-item-ctn li.from-me-error .arrow{
  border-bottom:1px #E86000 solid;
  left:auto;
  right:-10px;
}
.sms-message-item-ctn li.from-me-error .arrow .side{
  background-color:#F6F6F6;
  border-left:none;
  border-top:1px #E86000 solid;
  left:auto;
  right:0;
  border-color:#E86000;
}

.sms-select-view-header{
  width: 100%;
  height: 3.5rem;
  font-size: 2.1rem;
  padding: 4rem 0;
  text-align: center;
}
.sms-message-threads-ctn{
  height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 5px;
}
.sms-message-quick-sender{
  background-color:#f9f9f9;
  padding:10px;
}
.sms-message-quick-sender .selector-ctn{
  margin-bottom:5px;
}
.sms-message-quick-sender .sender-ctn{
  min-height:26px;
}
.sms-message-quick-sender .sender-ctn .input-content{
  display:block;
  line-height:19px;
  margin-right:10px;
  min-height:20px;
  overflow-x: hidden;
  overflow-y: auto;
}
.sms-message-quick-sender .sender-ctn .count-ctn{
  min-width:78px
}
.sms-message-quick-sender .sender-ctn .count-ctn .button-send{
  width:100%;
  background: -moz-linear-gradient(center top , #00AACF, #00AACF) repeat scroll 0 0 transparent;
  border-radius: 3px 3px 3px 3px;
  color: white;
  cursor: default;
  display: inline-block;
  height: 26px;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  word-spacing: normal;
}


.sms-message-quick-sender .sender-ctn .count-ctn .button-send:hover {
  background: -moz-linear-gradient(center top , #00C3ED, #00C3ED) repeat scroll 0 0 transparent;
}
.sms-message-quick-sender .sender-ctn .count-ctn .button-send:active {
  background-color: #018CAB;
}
.sms-message-quick-sender .sender-ctn .count-ctn .button-send:visited {
  background-color: #00CAF2;
}

.sms-message-quick-sender .sender-ctn .count-ctn .count-down{
  display:block;
  margin-bottom:3px;
  width:100%
}

.show-sms-item {
  height: 4rem;
  margin: 0.5rem 0 0.5rem 1rem;
  overflow: hidden;
  width: 23rem;
}


.show-multi-sms-content .number {
  color: #333333;
  height: 2rem;
  margin-left: 1rem;
  overflow: hidden;
  width: 18rem;
}

.show-multi-sms-content .body {
  height: 2rem;
  margin-left: 1rem;
  overflow: hidden;
  width: 18rem;
}

.sms-message-contact-selector-body .searchbox{
  width:100%
}
.sms-message-contact-selector-body .selector-ctrl{
  border:1px #cacaca solid;
  border-bottom:none;
  margin-top:10px;
  padding-right:10px;
}

.sms-message-contact-selector-body .selector-ctrl .selector-ctn button:not(.primary){
  background:transparent;
  border-color:transparent;
  border-radius:0;
  box-shadow:none;
  color:#555555
}
.sms-message-contact-selector-body .selector-ctrl .selector-ctn button:not(.primary):enabled:hover:not(.active):not(:active),.sms-message-contact-selector-body .selector-ctrl .selector-ctn button:not(.primary):enabled:focus{
  background:transparent;
  color:#3c7800
}
.sms-message-contact-selector-body .selector-ctrl .selector-ctn button:not(.primary):enabled:active,.sms-message-contact-selector-body .selector-ctrl .selector-ctn button:not(.primary).active{
  background:transparent;
  box-shadow:none;
  color:#2c5300
}
.sms-message-contact-selector-body .selector-ctrl .selector-ctn .sms-ui-button.sms-ui-menubutton{
  max-width:105px;
  padding-left:5px;
  padding-right:5px
}
.sms-message-contact-selector-body .selector-ctrl .selector-ctn .sms-ui-button.sms-ui-menubutton .arrow-ctn{
  opacity:1
}
.sms-message-contact-selector-body .selector-ctrl .selector-ctn .sms-ui-button.sms-ui-menubutton .arrow-ctn .arrow{
  border-color:#999 transparent transparent transparent
}
.sms-message-contact-selector-body .selector-ctrl .selector-ctn .sms-ui-button.sms-ui-menubutton:enabled:hover .arrow-ctn .arrow{
  border-top-color:#6db800
}
.sms-message-contact-selector-body .selector-ctrl .selector-ctn .sms-ui-button.sms-ui-menubutton:enabled:active .arrow-ctn .arrow,.sms-message-contact-selector-body .selector-ctrl .selector-ctn .sms-ui-button.sms-ui-menubutton.active .arrow-ctn .arrow,.sms-message-contact-selector-body .selector-ctrl .selector-ctn .sms-ui-button.sms-ui-menubutton.active:hover .arrow-ctn .arrow{
  border-top-color:#2c5300
}
.sms-message-contact-selector-body .selector-footer .button-clear-all{
  float:right
}
.sms-message-contact-selector-body .list-ctn{
  border:1px #cacaca solid;
  height:350px
}
.sms-message-contact-selector-body .selector-monitor{
  border:1px #cacaca solid;
  height:75px;
  margin:10px 0;
  overflow-y:auto;
  padding:3px
}

#sms-ui-smartlist-container {
    max-height: 35rem;
    overflow: auto;
    padding-left: 1rem;
}

#threads-list-container
{
    max-height: 46rem;
    overflow: auto;
    padding-left: 1rem;
}

#show-sms-container
{
    max-height: 40rem;
    overflow: auto;
    padding-left: 1rem;
}

.sms-ui-button.sms-ui-menubutton .label{
  text-align:left;
  float: left
}
.sms-ui-button.sms-ui-menubutton .label+.arrow-ctn{
  margin-left:5px;
  float: left;
  padding-top: 5px;
}

.sms-ui-button.sms-ui-menubutton .arrow-ctn .arrow{
  border-color:#000 transparent transparent transparent;
  border-style:solid;
  border-width:4px 4px 0;
  opacity:.7
}
.sms-ui-button.sms-ui-menubutton:enabled:hover .arrow-ctn .arrow{
  opacity:1
}
.sms-ui-button.sms-ui-menubutton:enabled:active .arrow-ctn .arrow,.sms-ui-button.sms-ui-menubutton.active .arrow-ctn .arrow,.sms-ui-button.sms-ui-menubutton.active:hover .arrow-ctn .arrow{
  opacity:1
}
.sms-ui-button.sms-ui-menubutton.primary .arrow-ctn .arrow,.sms-ui-button.sms-ui-menubutton.secondary .arrow-ctn .arrow{
  border-top-color:#fff
}
.sms-ui-button.sms-ui-menubutton.primary:enabled:hover .arrow-ctn .arrow,.sms-ui-button.sms-ui-menubutton.secondary:enabled:hover .arrow-ctn .arrow{
  border-top-color:#fff
}
.sms-ui-button.sms-ui-menubutton.primary:enabled:active .arrow-ctn .arrow,.sms-ui-button.sms-ui-menubutton.primary.active .arrow-ctn .arrow,.sms-ui-button.sms-ui-menubutton.primary.active:hover .arrow-ctn .arrow,.sms-ui-button.sms-ui-menubutton.secondary:enabled:active .arrow-ctn .arrow,.sms-ui-button.sms-ui-menubutton.secondary.active .arrow-ctn .arrow,.sms-ui-button.sms-ui-menubutton.secondary.active:hover .arrow-ctn .arrow{
  border-top-color:#fff
}
.sms-ui-button.sms-ui-menubutton.primary .arrow-ctn,.sms-ui-button.sms-ui-menubutton.secondary .arrow-ctn{
  border-color:#fff
}
.sms-ui-button.sms-ui-menubutton.toggle{
  min-width:22px;
  padding-left:8px;
  padding-right:8px
}
.sms-ui-button.sms-ui-menubutton.toggle .label{
  display:none
}
.sms-ui-button.sms-ui-menubutton.toggle .label+.arrow-ctn{
  margin-left:0px
}

.sms-ui-menu{
  background:#fff;
  border:1px #bbb solid;
  border-radius:3px;
  box-shadow:0 2px 10px rgba(0,0,0,0.3);
  overflow-y:auto;
  padding:5px 0;
  position:absolute;
  margin-left: 85px;
}
.sms-ui-menu li{
  height:30px;
  line-height:22px;
  padding:0 15px 0 5px
}
.sms-ui-menu li:hover:not([disabled]){
  background:-moz-linear-gradient(center top , #5bb70d, #4eaa00) repeat scroll 0 0 transparent;
  color:#fff
}
.sms-ui-menu li[disabled]{
  opacity:0.4
}
.sms-ui-menu li.disabled:hover{
  background:#fff
}

.sms-ui-menu li label{
  display:block;
  max-width:150px;
  min-width:80px;
}
.sms-ui-menu input[type="radio"]{
  background:none;
  background-color:transparent;
  border:none;
  height:16px;
  margin:7px 5px 0 0;
  width:16px;
  float: left;
  display: none;
}
.sms-ui-menu input[type="radio"]:enabled:hover{
  background:none;
  border:none
}

#sms-send-incontact {
  height: 24px;
  margin-left: 81px;
  padding-top: 4px;
  width: 115px;
}