* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

ul, ol, dl, dt, dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="url"], textarea {
  -moz-box-sizing: border-box;
  width: 100%;
  border: 0.1rem solid #CCCCCC;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  box-shadow: none;
  display: block;
  font: 1.4rem/4rem "MozTT",Sans-serif;
  overflow: hidden;
  padding: 0 0.8rem;
  resize: none;
  height: 4rem;
  margin: .5rem 0;
}

.table {
  display: table;
  width: 100%;
}

.table > div {
  display: table-row;
  width: 100%;
}

.table > div > div {
  display: table-cell;
  height: 100%;
}

#container {
  width: 100rem;
  margin: 0 auto;
  border: .2rem solid #FFCC95;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #FFF;
}

.login-area {
  text-align: center;
}

.title-bar {
  font-size: 2rem;
  color: #FFF;
  background-color: #FFC280;
  padding: 1rem;
}

.sidebar {
  width: 23rem;
  height: 100%;
  border-right: solid .2rem #FFD6AB;
  background-color: #FFF8F2;
}

.sidebar .list {
}

.sidebar .list .header {
  padding: .5rem 1rem;
  font-size: 1.8rem;
  border-left: 1rem solid #FF9A1E;
}

.sidebar .list .item {
  padding: .5rem 4rem;
  cursor: pointer;
}

.sidebar .list .selected {
  background-color: #FFF;
  margin-right: -0.2rem;
}

#connect-list .item {
   border: none;
   background-color: #FFDCA6;
   font-size: 1.8rem;
   padding: 0.5rem 1rem;
}

.content {
  height: 100%;
}

.content .view .view-body {
  overflow: hidden;
}

.content .view .view-header {
  background-color: #FFF8F2;
  height: 4rem;
  line-height: 4rem;
}

/*** contact ***/
#contact-view {
}

.contact-list-box {
  float: left;
  width: 60%;
}

.contact-ops-box {
  overflow: hidden;
  padding: 0 1rem;
  background-color: #F9F9F9;
  height: 3rem;
  line-height: 3rem;
}

.contact-ops-box .contact-op {
  float: left;
  width: 6rem;
  cursor: pointer;
}

.contact-ops-box .contact-op label {
  cursor: pointer;
}

#contact-list-container {
  padding-left: 1rem;
  max-height: 60rem;
  overflow: auto;
}

.contact-index {
  border-bottom: .2rem solid #FFA600;
  padding-left: 1rem;
  color: #FF9A00;
  padding: 1rem;
}

.contact-list-item > div {
  overflow: hidden;
  margin: 1rem 0 0 1rem;
}

.contact-list-item > div > * {
  float: left;
}

.contact-list-item input[type=checkbox] {
  margin-top: 1rem;
}

.contact-list-item .bookmark {
  width: 2rem;
  height: 2rem;
  padding-top: .5rem;
  text-align: center;
}

.contact-list-item .bookmark:after {
  content: '☆';
}

#contact-list-container div.favorite .bookmark:after {
  content: '★';
}

.contact-list-item .avatar-small {
  width: 3rem;
  height: 3rem;
  background-color: #EEE;
}

.contact-list-item .contact-info {
  font-size: 1.1rem;
  padding-left: 1rem;
}

.contact-list-item .contact-info .tel {
  color: #999;
}

/**** vcard box styles ****/
#contact-vcard-box {
  -moz-box-sizing: border-box;
  padding: 1rem;
  overflow: hidden;
}

#contact-vcard-box .vcard-header {
  color: #CCC;
  text-align: center;
  padding-bottom: 1rem;
}

#vcard-basic-info-box {
  1eight: 7rem;
  padding-bottom: 2rem;
}

#vcard-basic-info-box > div:last-child {
  margin-left: 1rem;
}

#vcard-basic-info-box > .avatar {
  float: left;
  height: 8rem;
  width: 8rem;
  background-color: #F2F2F2;
}

#vcard-basic-info-box .name {
  font-weight: bold;
}

#vcard-basic-info-box .company {
  color: #CCC;
}

.edit-button {
  color: #FFF;
  background-color: #2D9B00;
  border-radius: .5rem;
  width: 4rem;
  padding: .5rem 2rem;
  text-align: center;
  text-decoration: none;
  margin: 1rem 0;
}

#vcard-basic-info-box > div:last-child {
  padding-left: 8rem;
}

.vcard-info-bar {
  color: #CCC;
}

.vcard-info-bar .header {
  color: #FF9A00;
}

.vcard-info-bar .contact-way-name {
  width: 7rem;
}

/********* contact form ********/
#contact-form .avatar {
  width: 8rem;
  height: 8rem;
  float: left;
  margin: .8rem .5rem;
  background-color: #EEE;
}

.item-body-exp {
  overflow: hidden;
}

#contact-form li {
  padding-right: 3rem;
}

#contact-form div {
  position: relative;
}

#contact-form ul {
  padding-bottom: 1rem;
}

#contact-form .action-delete {
  position: absolute;
  height: 2.2rem;
  width: 2.2rem;
  background: url(../images/delete.png) no-repeat;
  left: 100%;
  top: 50%;
  margin: -1rem 0 0 1rem;
}

/* Fieldset */
fieldset {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;
  border: 0.1rem solid rgba(0,0,0,.2);
  font: 1.4rem/1em "MozTT", Sans-serif;
  margin: 0 0 .5rem;
}

fieldset + fieldset {
  margin-top: 1.5rem;
}

fieldset select {
  width: 6rem;
}

fieldset legend {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: 9.5rem;
  height: 4rem;
  padding: 0 0.5rem 0 1.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  line-height: 4rem;
  text-transform: uppercase;
}

fieldset legend.action {
  position: relative;
}

fieldset section {
  border-left: 0.1rem solid #DDDDDD;
  border-radius: 0 0.3rem 0.3rem 0;
  display: block;
  overflow: hidden;
}

fieldset section p {
  border-bottom: 0.1rem solid #DDDDDD;
  margin: 0;
}

fieldset section input[type="text"],
fieldset section input[type="password"],
fieldset section input[type="email"],
fieldset section input[type="tel"],
fieldset section input[type="search"],
fieldset section input[type="number"],
fieldset section textarea {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 0 0 0 0;
  font-weight: 600;
  height: 4rem;
}

form p input:valid, form p input:valid:focus {
  padding-right: 3.5rem;
}

button.add-new-button {
  position: relative;
  border: 0.1rem solid #9F9F9F;
  background: none repeat scroll 0 0 #E8F2FF;
  width: 100%;
  padding: .5rem 2rem;
  text-align: left;
  margin: -1rem 0 .5rem;
  border-radius: 0 0 .3rem .3rem;
  vertical-align: middle;
}

